{{>partial_header}}
package {{packageName}}

{{#operations}}
import (
	"context"
	"net/http"
	"net/url"
	"time"
)

// Linger please
var (
	_ context.Context
)
{{#generateInterfaces}}

type RequestOptions struct {
	Headers     map[string]string `json:"headers,omitempty"`
}

type {{classname}} interface {
	{{#operation}}

	/*
	 * {{operationId}}{{#summary}} {{{.}}}{{/summary}}{{^summary}} Method for {{operationId}}{{/summary}}
	{{#notes}}
	 * {{{unescapedNotes}}}
	{{/notes}}
	 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().{{#pathParams}}
	 * @param {{paramName}}{{#description}} {{{.}}}{{/description}}{{/pathParams}}
	 * @return {{#structPrefix}}{{&classname}}{{/structPrefix}}Api{{operationId}}Request
	 */
	{{{nickname}}}(ctx context.Context{{#pathParams}}, {{paramName}} {{{dataType}}}{{/pathParams}}) {{#structPrefix}}{{&classname}}{{/structPrefix}}Api{{operationId}}Request

	/*
	 * {{nickname}}Execute executes the request{{#returnType}}
	 * @return {{{.}}}{{/returnType}}
	 */
	{{nickname}}Execute(r {{#structPrefix}}{{&classname}}{{/structPrefix}}Api{{operationId}}Request) ({{#returnType}}{{{.}}}, {{/returnType}}*http.Response, error)
	{{/operation}}
}
{{/generateInterfaces}}

// {{classname}}Service {{classname}} service
type {{classname}}Service service

{{#operation}}

type {{#structPrefix}}{{&classname}}{{/structPrefix}}Api{{operationId}}Request struct {
	ctx context.Context{{#generateInterfaces}}
	ApiService {{classname}}
{{/generateInterfaces}}{{^generateInterfaces}}
	ApiService *{{classname}}Service
{{/generateInterfaces}}
{{#allParams}}
    {{paramName}} {{^isPathParam}}*{{/isPathParam}}{{{dataType}}}
{{/allParams}}
  options    RequestOptions
}

{{#allParams}}{{^isPathParam}}
func (r {{#structPrefix}}{{&classname}}{{/structPrefix}}Api{{operationId}}Request) {{vendorExtensions.x-export-param-name}}({{paramName}} {{{dataType}}}) {{#structPrefix}}{{&classname}}{{/structPrefix}}Api{{operationId}}Request {
	r.{{paramName}} = &{{paramName}}
	return r
}{{/isPathParam}}{{/allParams}}

func (r {{#structPrefix}}{{&classname}}{{/structPrefix}}Api{{operationId}}Request) Options(options RequestOptions) {{#structPrefix}}{{&classname}}{{/structPrefix}}Api{{operationId}}Request {
	r.options = options
	return r
}

func (r {{#structPrefix}}{{&classname}}{{/structPrefix}}Api{{operationId}}Request) Execute() ({{#returnType}}{{{.}}}, {{/returnType}}*http.Response, error) {
	return r.ApiService.{{nickname}}Execute(r)
}

/*
 * {{operationId}}{{#summary}} {{{.}}}{{/summary}}{{^summary}} Method for {{operationId}}{{/summary}}
{{#notes}}
 * {{{unescapedNotes}}}
{{/notes}}
 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().{{#pathParams}}
 * @param {{paramName}}{{#description}} {{{.}}}{{/description}}{{/pathParams}}
 * @return {{#structPrefix}}{{&classname}}{{/structPrefix}}Api{{operationId}}Request
 */
func (a *{{{classname}}}Service) {{{nickname}}}(ctx context.Context{{#pathParams}}, {{paramName}} {{{dataType}}}{{/pathParams}}) {{#structPrefix}}{{&classname}}{{/structPrefix}}Api{{operationId}}Request {
	return {{#structPrefix}}{{&classname}}{{/structPrefix}}Api{{operationId}}Request{
		ApiService: a,
		ctx: ctx,{{#pathParams}}
		{{paramName}}: {{paramName}},{{/pathParams}}
	}
}

/*
 * Execute executes the request{{#returnType}}
 * @return {{{.}}}{{/returnType}}
 */
func (a *{{{classname}}}Service) {{nickname}}Execute(r {{#structPrefix}}{{&classname}}{{/structPrefix}}Api{{operationId}}Request) ({{#returnType}}{{{.}}}, {{/returnType}}*http.Response, error) {
	{{#returnType}}
	var returnValue {{{.}}}
	{{/returnType}}
	{{#pathParams}}
	if err := validatePathParameter("{{paramName}}", r.{{paramName}}); err != nil {
		return {{#returnType}}returnValue, {{/returnType}}nil, err
	}
	{{/pathParams}}
	{{#allParams}}
	{{#required}}
	{{^isPathParam}}
	if err := validateParameter("{{paramName}}", r.{{paramName}}); err != nil {
		return {{#returnType}}returnValue, {{/returnType}}nil, err
	}
	{{/isPathParam}}
	{{/required}}
	{{/allParams}}

	executor := a.client.GetAPIExecutor()
	{{#queryParams.0}}

	queryParams := url.Values{}
	{{#queryParams}}
	{{#required}}
	queryParams.Add("{{baseName}}", parameterToString(*r.{{paramName}}, "{{#collectionFormat}}{{collectionFormat}}{{/collectionFormat}}"))
	{{/required}}
	{{^required}}
	if r.{{paramName}} != nil {
		queryParams.Add("{{baseName}}", parameterToString(*r.{{paramName}}, "{{#collectionFormat}}{{collectionFormat}}{{/collectionFormat}}"))
	}
	{{/required}}
	{{/queryParams}}
	{{/queryParams.0}}

	request := NewAPIExecutorRequestBuilder("{{operationId}}", http.Method{{httpMethod}}, "{{{path}}}").{{#pathParams}}
		WithPathParameter("{{baseName}}", r.{{paramName}}).{{/pathParams}}{{#queryParams.0}}
		WithQueryParameters(queryParams).{{/queryParams.0}}{{#bodyParams}}
		WithBody(r.{{paramName}}).{{/bodyParams}}
		WithHeaders(r.options.Headers).
		Build()
	response, err := executor.{{#returnType}}ExecuteWithDecode{{/returnType}}{{^returnType}}Execute{{/returnType}}(r.ctx, request{{#returnType}}, &returnValue{{/returnType}})

	if response != nil {
		return {{#returnType}}returnValue, {{/returnType}}response.HTTPResponse, err
	}

	return {{#returnType}}returnValue, {{/returnType}}nil, err
}
{{/operation}}
{{/operations}}
