{{>partial_header}}
package {{packageName}}

{{#operations}}
import (
	"bytes"
	_context "context"
	_ioutil "io/ioutil"
	_nethttp "net/http"
	_neturl "net/url"
	_math "math"
	_rand "math/rand"
	"time"
{{#imports}}	"{{import}}"
{{/imports}}

    "{{gitHost}}/{{gitUserId}}/{{gitRepoId}}/internal/utils"
)

// Linger please
var (
	_ _context.Context
)
{{#generateInterfaces}}

type {{classname}} interface {
	{{#operation}}

	/*
	 * {{operationId}}{{#summary}} {{{.}}}{{/summary}}{{^summary}} Method for {{operationId}}{{/summary}}
	{{#notes}}
	 * {{{unescapedNotes}}}
	{{/notes}}
	 * @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().{{#pathParams}}{{^-first}}
	 * @param {{paramName}}{{#description}} {{{.}}}{{/description}}{{/-first}}{{/pathParams}}
	 * @return {{#structPrefix}}{{&classname}}{{/structPrefix}}Api{{operationId}}Request
	 */
	{{{nickname}}}(ctx _context.Context{{#pathParams}}{{^-first}}, {{paramName}} {{{dataType}}}{{/-first}}{{/pathParams}}) {{#structPrefix}}{{&classname}}{{/structPrefix}}Api{{operationId}}Request

	/*
	 * {{nickname}}Execute executes the request{{#returnType}}
	 * @return {{{.}}}{{/returnType}}
	 */
	{{nickname}}Execute(r {{#structPrefix}}{{&classname}}{{/structPrefix}}Api{{operationId}}Request) ({{#returnType}}{{{.}}}, {{/returnType}}*_nethttp.Response, error)
	{{/operation}}
}
{{/generateInterfaces}}

// {{classname}}Service {{classname}} service
type {{classname}}Service service

func randomTime(loopCount int, minWaitInMs int) int{
    min := int(_math.Pow(2, float64(loopCount))) * minWaitInMs;
    max := int(_math.Pow(2, float64(loopCount + 1))) * minWaitInMs;
    return _rand.Intn(max - min + 1) + min
}

{{#operation}}

type {{#structPrefix}}{{&classname}}{{/structPrefix}}Api{{operationId}}Request struct {
	ctx _context.Context{{#generateInterfaces}}
	ApiService {{classname}}
{{/generateInterfaces}}{{^generateInterfaces}}
	ApiService *{{classname}}Service
{{/generateInterfaces}}
{{#allParams}}
    {{^-first}}{{paramName}} {{^isPathParam}}*{{/isPathParam}}{{{dataType}}}{{/-first}}
{{/allParams}}
}
{{#allParams}}{{^isPathParam}}
func (r {{#structPrefix}}{{&classname}}{{/structPrefix}}Api{{operationId}}Request) {{vendorExtensions.x-export-param-name}}({{paramName}} {{{dataType}}}) {{#structPrefix}}{{&classname}}{{/structPrefix}}Api{{operationId}}Request {
	r.{{paramName}} = &{{paramName}}
	return r
}{{/isPathParam}}{{/allParams}}

func (r {{#structPrefix}}{{&classname}}{{/structPrefix}}Api{{operationId}}Request) Execute() ({{#returnType}}{{{.}}}, {{/returnType}}*_nethttp.Response, error) {
	return r.ApiService.{{nickname}}Execute(r)
}

/*
 * {{operationId}}{{#summary}} {{{.}}}{{/summary}}{{^summary}} Method for {{operationId}}{{/summary}}
{{#notes}}
 * {{{unescapedNotes}}}
{{/notes}}
 * @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().{{#pathParams}}{{^-first}}
 * @param {{paramName}}{{#description}} {{{.}}}{{/description}}{{/-first}}{{/pathParams}}
 * @return {{#structPrefix}}{{&classname}}{{/structPrefix}}Api{{operationId}}Request
 */
func (a *{{{classname}}}Service) {{{nickname}}}(ctx _context.Context{{#pathParams}}{{^-first}}, {{paramName}} {{{dataType}}}{{/-first}}{{/pathParams}}) {{#structPrefix}}{{&classname}}{{/structPrefix}}Api{{operationId}}Request {
	return {{#structPrefix}}{{&classname}}{{/structPrefix}}Api{{operationId}}Request{
		ApiService: a,
		ctx: ctx,{{#pathParams}}{{^-first}}
		{{paramName}}: {{paramName}},{{/-first}}{{/pathParams}}
	}
}

/*
 * Execute executes the request{{#returnType}}
 * @return {{{.}}}{{/returnType}}
 */
func (a *{{{classname}}}Service) {{nickname}}Execute(r {{#structPrefix}}{{&classname}}{{/structPrefix}}Api{{operationId}}Request) ({{#returnType}}{{{.}}}, {{/returnType}}*_nethttp.Response, error) {
	var maxRetry int
	var minWaitInMs int

	if (a.RetryParams != nil) {
		maxRetry = a.RetryParams.MinWaitInMs
		minWaitInMs = a.RetryParams.MinWaitInMs
	} else {
		maxRetry = 0
		minWaitInMs = 0
	}

	for i := 0; i < maxRetry+1; i++ {
	var (
		localVarHTTPMethod   = _nethttp.Method{{httpMethod}}
		localVarPostBody     interface{}
		{{#returnType}}
		localVarReturnValue  {{{.}}}
		{{/returnType}}
	)

    {{#pathParams.0}}
        if a.client.cfg.StoreId == "" {
		    return {{#returnType}}localVarReturnValue, {{/returnType}}nil, reportError("Configuration.StoreId is required and must be specified to call this method")
        }
		if !internalutils.IsWellFormedUlidString(a.client.cfg.StoreId) {
            return {{#returnType}}localVarReturnValue, {{/returnType}}nil, reportError("Configuration.StoreId is invalid")
		}
    {{/pathParams.0}}
	localVarPath := "{{{path}}}"{{#pathParams}}
	localVarPath = strings.Replace(localVarPath, "{"+"{{baseName}}"+"}", _neturl.PathEscape({{#-first}}a.client.cfg.StoreId{{/-first}}{{^-first}}parameterToString(r.{{paramName}}, "{{#collectionFormat}}{{collectionFormat}}{{/collectionFormat}}"){{/-first}}), -1){{/pathParams}}

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	{{#allParams}}
	{{#required}}
	{{^isPathParam}}
	if r.{{paramName}} == nil {
		return {{#returnType}}localVarReturnValue, {{/returnType}}nil, reportError("{{paramName}} is required and must be specified")
	}
	{{/isPathParam}}
	{{#minItems}}
	if len({{^isPathParam}}*{{/isPathParam}}r.{{paramName}}) < {{minItems}} {
		return {{#returnType}}localVarReturnValue, {{/returnType}}nil, reportError("{{paramName}} must have at least {{minItems}} elements")
	}
	{{/minItems}}
	{{#maxItems}}
	if len({{^isPathParam}}*{{/isPathParam}}r.{{paramName}}) > {{maxItems}} {
		return {{#returnType}}localVarReturnValue, {{/returnType}}nil, reportError("{{paramName}} must have less than {{maxItems}} elements")
	}
	{{/maxItems}}
	{{#minLength}}
	if strlen({{^isPathParam}}*{{/isPathParam}}r.{{paramName}}) < {{minLength}} {
		return {{#returnType}}localVarReturnValue, {{/returnType}}nil, reportError("{{paramName}} must have at least {{minLength}} elements")
	}
	{{/minLength}}
	{{#maxLength}}
	if strlen({{^isPathParam}}*{{/isPathParam}}r.{{paramName}}) > {{maxLength}} {
		return {{#returnType}}localVarReturnValue, {{/returnType}}nil, reportError("{{paramName}} must have less than {{maxLength}} elements")
	}
	{{/maxLength}}
	{{#minimum}}
	{{#isString}}
	{{paramName}}Txt, err := atoi({{^isPathParam}}*{{/isPathParam}}r.{{paramName}})
	if {{paramName}}Txt < {{minimum}} {
	{{/isString}}
	{{^isString}}
	if {{^isPathParam}}*{{/isPathParam}}r.{{paramName}} < {{minimum}} {
	{{/isString}}
		return {{#returnType}}localVarReturnValue, {{/returnType}}nil, reportError("{{paramName}} must be greater than {{minimum}}")
	}
	{{/minimum}}
	{{#maximum}}
	{{#isString}}
	{{paramName}}Txt, err := atoi({{^isPathParam}}*{{/isPathParam}}r.{{paramName}})
	if {{paramName}}Txt > {{maximum}} {
	{{/isString}}
	{{^isString}}
	if {{^isPathParam}}*{{/isPathParam}}r.{{paramName}} > {{maximum}} {
	{{/isString}}
		return {{#returnType}}localVarReturnValue, {{/returnType}}nil, reportError("{{paramName}} must be less than {{maximum}}")
	}
	{{/maximum}}
	{{/required}}
	{{/allParams}}

	{{#queryParams}}
	{{#required}}
	{{#isCollectionFormatMulti}}
	{
		t := *r.{{paramName}}
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				localVarQueryParams.Add("{{baseName}}", parameterToString(s.Index(i), "{{#collectionFormat}}{{collectionFormat}}{{/collectionFormat}}"))
			}
		} else {
			localVarQueryParams.Add("{{baseName}}", parameterToString(t, "{{#collectionFormat}}{{collectionFormat}}{{/collectionFormat}}"))
		}
	}
	{{/isCollectionFormatMulti}}
	{{^isCollectionFormatMulti}}
	localVarQueryParams.Add("{{baseName}}", parameterToString(*r.{{paramName}}, "{{#collectionFormat}}{{collectionFormat}}{{/collectionFormat}}"))
	{{/isCollectionFormatMulti}}
	{{/required}}
	{{^required}}
	if r.{{paramName}} != nil {
	{{#isCollectionFormatMulti}}
		t := *r.{{paramName}}
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				localVarQueryParams.Add("{{baseName}}", parameterToString(s.Index(i), "{{#collectionFormat}}{{collectionFormat}}{{/collectionFormat}}"))
			}
		} else {
			localVarQueryParams.Add("{{baseName}}", parameterToString(t, "{{#collectionFormat}}{{collectionFormat}}{{/collectionFormat}}"))
		}
	{{/isCollectionFormatMulti}}
	{{^isCollectionFormatMulti}}
		localVarQueryParams.Add("{{baseName}}", parameterToString(*r.{{paramName}}, "{{#collectionFormat}}{{collectionFormat}}{{/collectionFormat}}"))
	{{/isCollectionFormatMulti}}
	}
	{{/required}}
	{{/queryParams}}
	// to determine the Content-Type header
{{=<% %>=}}
	localVarHTTPContentTypes := []string{<%#consumes%>"<%&mediaType%>"<%^-last%>, <%/-last%><%/consumes%>}
<%={{ }}=%>

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
{{=<% %>=}}
	localVarHTTPHeaderAccepts := []string{<%#produces%>"<%&mediaType%>"<%^-last%>, <%/-last%><%/produces%>}
<%={{ }}=%>

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
{{#headerParams}}
	{{#required}}
	localVarHeaderParams["{{baseName}}"] = parameterToString(*r.{{paramName}}, "{{#collectionFormat}}{{collectionFormat}}{{/collectionFormat}}")
	{{/required}}
	{{^required}}
	if r.{{paramName}} != nil {
		localVarHeaderParams["{{baseName}}"] = parameterToString(*r.{{paramName}}, "{{#collectionFormat}}{{collectionFormat}}{{/collectionFormat}}")
	}
	{{/required}}
{{/headerParams}}
{{#formParams}}
{{#isFile}}
	localVarFormFileName = "{{baseName}}"
{{#required}}
	localVarFile := *r.{{paramName}}
{{/required}}
{{^required}}
	var localVarFile {{dataType}}
	if r.{{paramName}} != nil {
		localVarFile = *r.{{paramName}}
	}
{{/required}}
	if localVarFile != nil {
		fbs, _ := _ioutil.ReadAll(localVarFile)
		localVarFileBytes = fbs
		localVarFileName = localVarFile.Name()
		localVarFile.Close()
	}
{{/isFile}}
{{^isFile}}
{{#required}}
	localVarFormParams.Add("{{baseName}}", parameterToString(*r.{{paramName}}, "{{#collectionFormat}}{{collectionFormat}}{{/collectionFormat}}"))
{{/required}}
{{^required}}
{{#isModel}}
	if r.{{paramName}} != nil {
		paramJson, err := parameterToJson(*r.{{paramName}})
		if err != nil {
			return {{#returnType}}localVarReturnValue, {{/returnType}}nil, err
		}
		localVarFormParams.Add("{{baseName}}", paramJson)
	}
{{/isModel}}
{{^isModel}}
	if r.{{paramName}} != nil {
		localVarFormParams.Add("{{baseName}}", parameterToString(*r.{{paramName}}, "{{#collectionFormat}}{{collectionFormat}}{{/collectionFormat}}"))
	}
{{/isModel}}
{{/required}}
{{/isFile}}
{{/formParams}}
{{#bodyParams}}
	// body params
	localVarPostBody = r.{{paramName}}
{{/bodyParams}}
{{#authMethods}}
{{#isApiKey}}
{{^isKeyInCookie}}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			{{#vendorExtensions.x-auth-id-alias}}
			if apiKey, ok := auth["{{.}}"]; ok {
				var key string
				if prefix, ok := auth["{{name}}"]; ok && prefix.Prefix != "" {
					key = prefix.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
			{{/vendorExtensions.x-auth-id-alias}}
			{{^vendorExtensions.x-auth-id-alias}}
			if apiKey, ok := auth["{{name}}"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
			{{/vendorExtensions.x-auth-id-alias}}
				{{#isKeyInHeader}}
				localVarHeaderParams["{{keyParamName}}"] = key
				{{/isKeyInHeader}}
				{{#isKeyInQuery}}
				localVarQueryParams.Add("{{keyParamName}}", key)
				{{/isKeyInQuery}}
			}
		}
	}
{{/isKeyInCookie}}
{{/isApiKey}}
{{/authMethods}}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams)
	if err != nil {
		return {{#returnType}}localVarReturnValue, {{/returnType}}nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return {{#returnType}}localVarReturnValue, {{/returnType}}localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return {{#returnType}}localVarReturnValue, {{/returnType}}localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= _nethttp.StatusMultipleChoices {

		if localVarHTTPResponse.StatusCode == _nethttp.StatusBadRequest || localVarHTTPResponse.StatusCode == _nethttp.StatusUnprocessableEntity {
			newErr := FgaApiValidationError{
				body:    localVarBody,
				storeId: a.client.cfg.StoreId,
				endpointCategory: "{{nickname}}",
				requestBody: localVarPostBody,
				requestMethod: localVarHTTPMethod,
				responseStatusCode: localVarHTTPResponse.StatusCode,
				responseHeader: localVarHTTPResponse.Header,
		        }
			// Due to CanonicalHeaderKey, header name is case-insensitive.
			newErr.requestId = localVarHTTPResponse.Header.Get("Fga-Request-Id")
			newErr.error = "{{nickname}} validation error for " + localVarHTTPMethod + " {{nickname}} with body " + string(localVarBody)
			var v ValidationErrorMessageResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.modelDecodeError = err
				return {{#returnType}}localVarReturnValue, {{/returnType}}localVarHTTPResponse, newErr
			}
			newErr.model = v
			newErr.responseCode = v.GetCode()
			newErr.error += " with error code " + string(v.GetCode()) + " error message: " + v.GetMessage()

			return {{#returnType}}localVarReturnValue, {{/returnType}}localVarHTTPResponse, newErr
		}

		if localVarHTTPResponse.StatusCode == _nethttp.StatusUnauthorized  || localVarHTTPResponse.StatusCode == _nethttp.StatusForbidden {
			newErr := FgaApiAuthenticationError{
				body:    localVarBody,

				storeId: a.client.cfg.StoreId,
				endpointCategory: "{{nickname}}",
				responseStatusCode: localVarHTTPResponse.StatusCode,
				responseHeader: localVarHTTPResponse.Header,
		        }
			// Due to CanonicalHeaderKey, header name is case-insensitive.
			newErr.requestId = localVarHTTPResponse.Header.Get("Fga-Request-Id")
			newErr.error = "{{nickname}} auth error for " + localVarHTTPMethod + " {{nickname}} with body " + string(localVarBody)

			return {{#returnType}}localVarReturnValue, {{/returnType}}localVarHTTPResponse, newErr
		}

		if localVarHTTPResponse.StatusCode == _nethttp.StatusNotFound {
			newErr := FgaApiNotFoundError{
				body:    localVarBody,
				storeId: a.client.cfg.StoreId,
				endpointCategory: "{{nickname}}",
				requestBody: localVarPostBody,
				requestMethod: localVarHTTPMethod,
				responseStatusCode: localVarHTTPResponse.StatusCode,
				responseHeader: localVarHTTPResponse.Header,
		        }
			// Due to CanonicalHeaderKey, header name is case-insensitive.
			newErr.requestId = localVarHTTPResponse.Header.Get("Fga-Request-Id")
			newErr.error = "{{nickname}} validation error for " + localVarHTTPMethod + " {{nickname}} with body " + string(localVarBody)
			var v PathUnknownErrorMessageResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.modelDecodeError = err
				return {{#returnType}}localVarReturnValue, {{/returnType}}localVarHTTPResponse, newErr
			}
			newErr.model = v
			newErr.responseCode = v.GetCode()
			newErr.error += " with error code " + string(v.GetCode()) + " error message: " + v.GetMessage()

			return {{#returnType}}localVarReturnValue, {{/returnType}}localVarHTTPResponse, newErr
		}

		if localVarHTTPResponse.StatusCode == _nethttp.StatusTooManyRequests {
			if i < maxRetry {
				time.Sleep(time.Duration(randomTime(i, minWaitInMs)) * time.Millisecond)
				continue
			}
			// maximum number of retry reached
			newErr := FgaApiRateLimitExceededError{
				body:    localVarBody,

				storeId: a.client.cfg.StoreId,
				endpointCategory: "{{nickname}}",
				requestBody: localVarPostBody,
				requestMethod: localVarHTTPMethod,
				responseStatusCode: localVarHTTPResponse.StatusCode,
				responseHeader: localVarHTTPResponse.Header,

		        }
			newErr.error = "{{nickname}} rate limit error for " + localVarHTTPMethod + " {{nickname}} with body " + string(localVarBody)

			// Due to CanonicalHeaderKey, header name is case-insensitive.
			newErr.requestId = localVarHTTPResponse.Header.Get("Fga-Request-Id")
			return {{#returnType}}localVarReturnValue, {{/returnType}}localVarHTTPResponse, newErr
		}

		if localVarHTTPResponse.StatusCode >= _nethttp.StatusInternalServerError {
            if localVarHTTPResponse.StatusCode != _nethttp.StatusNotImplemented && i < maxRetry {
                time.Sleep(time.Duration(randomTime(i, minWaitInMs)) * time.Millisecond)
                continue
            }
			newErr := FgaApiInternalError{
				body:    localVarBody,

				storeId: a.client.cfg.StoreId,
				endpointCategory: "{{nickname}}",
				requestBody: localVarPostBody,
				requestMethod: localVarHTTPMethod,
				responseStatusCode: localVarHTTPResponse.StatusCode,
				responseHeader: localVarHTTPResponse.Header,

		        }
			newErr.error = "{{nickname}} internal error for " + localVarHTTPMethod + " {{nickname}} with body " + string(localVarBody)
			newErr.requestId = localVarHTTPResponse.Header.Get("Fga-Request-Id")

			var v InternalErrorMessageResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.modelDecodeError = err
				return {{#returnType}}localVarReturnValue, {{/returnType}}localVarHTTPResponse, newErr
			}
			newErr.model = v
			newErr.responseCode = v.GetCode()
			newErr.error += " with error code " + string(v.GetCode()) + " error message: " + v.GetMessage()

			return {{#returnType}}localVarReturnValue, {{/returnType}}localVarHTTPResponse, newErr
		}
		newErr := FgaApiError{
			body:    localVarBody,

			storeId: a.client.cfg.StoreId,
			endpointCategory: "{{nickname}}",
			requestBody: localVarPostBody,
			requestMethod: localVarHTTPMethod,
			responseStatusCode: localVarHTTPResponse.StatusCode,
			responseHeader: localVarHTTPResponse.Header,

		}
		newErr.error = "{{nickname}} error for " + localVarHTTPMethod + " {{nickname}} with body " + string(localVarBody)
		newErr.requestId = localVarHTTPResponse.Header.Get("Fga-Request-Id")

		var v ErrorResponse
		err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			newErr.modelDecodeError = err
			return {{#returnType}}localVarReturnValue, {{/returnType}}localVarHTTPResponse, newErr
		}
		newErr.model = v
		newErr.responseCode = v.Code
		newErr.error += " with error code " + v.Code + " error message: " + v.Message

		return {{#returnType}}localVarReturnValue, {{/returnType}}localVarHTTPResponse, newErr
	}

	{{#returnType}}
	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return {{#returnType}}localVarReturnValue, {{/returnType}}localVarHTTPResponse, newErr
	}

	{{/returnType}}
	return {{#returnType}}localVarReturnValue, {{/returnType}}localVarHTTPResponse, nil
	}
	// should never have reached this
	{{#returnType}}
	var localVarReturnValue {{{.}}}
	return localVarReturnValue, nil, reportError("Error not handled properly")
	{{/returnType}}
    {{^returnType}}
	return nil, reportError("Error not handled properly")
    {{/returnType}}
}
{{/operation}}
{{/operations}}
