The documentation below refers to the `{{packageName}}Client`, to read the documentation for `{{packageName}}Api`, check out the [`v0.2.1` documentation](https://github.com/{{gitUserId}}/{{gitRepoId}}/tree/v0.2.1#readme).

> The {{packageName}}Client will by default retry API requests up to {{defaultMaxRetry}} times on 429 and 5xx errors.

#### No Credentials

```golang
import (
    . "{{gitHost}}/{{gitUserId}}/{{gitRepoId}}/client"
    "os"
)

func main() {
    fgaClient, err := NewSdkClient(&ClientConfiguration{
        ApiScheme:      os.Getenv("FGA_API_SCHEME"), // optional, defaults to "https"
        ApiHost:        os.Getenv("FGA_API_HOST"), // required, define without the scheme (e.g. api.fga.example instead of https://api.fga.example)
        StoreId:        os.Getenv("FGA_STORE_ID"), // not needed when calling `CreateStore` or `ListStores`
    })

	if err != nil {
        // .. Handle error
    }
}
```

#### API Token

```golang
import (
    . "{{gitHost}}/{{gitUserId}}/{{gitRepoId}}/client"
    "{{gitHost}}/{{gitUserId}}/{{gitRepoId}}/credentials"
    "os"
)

func main() {
    fgaClient, err := NewSdkClient(&ClientConfiguration{
        ApiScheme:      os.Getenv("FGA_API_SCHEME"), // optional, defaults to "https"
        ApiHost:        os.Getenv("FGA_API_HOST"), // required, define without the scheme (e.g. api.fga.example instead of https://api.fga.example)
        StoreId:        os.Getenv("FGA_STORE_ID"), // not needed when calling `CreateStore` or `ListStores`
        Credentials: &credentials.Credentials{
            Method: credentials.CredentialsMethodApiToken,
            Config: &credentials.Config{
                ApiToken: os.Getenv("FGA_API_TOKEN"), // will be passed as the "Authorization: Bearer ${ApiToken}" request header
            },
        },
    })

    if err != nil {
        // .. Handle error
    }
}
```

#### Client Credentials

```golang
import (
    {{packageName}} "{{gitHost}}/{{gitUserId}}/{{gitRepoId}}"
    . "{{gitHost}}/{{gitUserId}}/{{gitRepoId}}/client"
    "{{gitHost}}/{{gitUserId}}/{{gitRepoId}}/credentials"
    "os"
)

func main() {
    fgaClient, err := NewSdkClient(&ClientConfiguration{
        ApiScheme:              os.Getenv("FGA_API_SCHEME"), // optional, defaults to "https"
        ApiHost:                os.Getenv("FGA_API_HOST"), // required, define without the scheme (e.g. api.fga.example instead of https://api.fga.example)
        StoreId:                os.Getenv("FGA_STORE_ID"), // not needed when calling `CreateStore` or `ListStores`
        AuthorizationModelId:   {{packageName}}.PtrString("{{appUpperCaseName}}_AUTHORIZATION_MODEL_ID"),
        Credentials: &credentials.Credentials{
            Method: credentials.CredentialsMethodClientCredentials,
            Config: &credentials.Config{
                ClientCredentialsClientId:       os.Getenv("FGA_CLIENT_ID"),
                ClientCredentialsClientSecret:   os.Getenv("FGA_CLIENT_SECRET"),
                ClientCredentialsApiAudience:    os.Getenv("FGA_API_AUDIENCE"),
                ClientCredentialsApiTokenIssuer: os.Getenv("FGA_API_TOKEN_ISSUER"),
            },
        },
    })

    if err != nil {
        // .. Handle error
    }
}
```
