{{>partial_header}}

import { Configuration, UserConfigurationParams } from "../../configuration";
import { CredentialsMethod } from "../../credentials";

export const {{appUpperCaseName}}_STORE_ID = "01H0H015178Y2V4CX10C2KGHF4";
export const {{appUpperCaseName}}_API_HOST = "api.fga.example";
export const {{appUpperCaseName}}_API_TOKEN_ISSUER = "tokenissuer.fga.example";
export const {{appUpperCaseName}}_API_AUDIENCE = "https://api.fga.example/";
export const {{appUpperCaseName}}_CLIENT_ID = "01H0H3D8TD07EWAQHXY9BWJG3V";
export const {{appUpperCaseName}}_CLIENT_SECRET = "this-is-very-secret";
export const {{appUpperCaseName}}_API_TOKEN = "fga_abcdef";

export const baseConfig: UserConfigurationParams = {
  storeId: {{appUpperCaseName}}_STORE_ID,
  apiHost: {{appUpperCaseName}}_API_HOST,
  credentials: {
    method: CredentialsMethod.ClientCredentials,
    config: {
      apiTokenIssuer: {{appUpperCaseName}}_API_TOKEN_ISSUER,
      apiAudience: {{appUpperCaseName}}_API_AUDIENCE,
      clientId: {{appUpperCaseName}}_CLIENT_ID,
      clientSecret: {{appUpperCaseName}}_CLIENT_SECRET,
    }
  }
};

export const defaultConfiguration = new Configuration(baseConfig);
