{{>partial_header}}

import { ClientConfiguration, UserClientConfigurationParams } from "../../client";
import { CredentialsMethod } from "../../credentials";

export const {{appUpperCaseName}}_STORE_ID = "01H0H015178Y2V4CX10C2KGHF4";
export const {{appUpperCaseName}}_MODEL_ID = "01HWBBMZTT7F1M97DVXQK4Z7J3";
export const {{appUpperCaseName}}_API_URL = "https://api.{{sampleApiDomain}}";
export const {{appUpperCaseName}}_API_TOKEN_ISSUER = "tokenissuer.{{sampleApiDomain}}";
export const {{appUpperCaseName}}_API_AUDIENCE = "https://api.{{sampleApiDomain}}/";
export const {{appUpperCaseName}}_CLIENT_ID = "01H0H3D8TD07EWAQHXY9BWJG3V";
export const {{appUpperCaseName}}_CLIENT_SECRET = "this-is-very-secret";
export const {{appUpperCaseName}}_API_TOKEN = "fga_abcdef";

export const baseConfig: UserClientConfigurationParams = {
  storeId: {{appUpperCaseName}}_STORE_ID,
  authorizationModelId: {{appUpperCaseName}}_MODEL_ID,
  apiUrl: {{appUpperCaseName}}_API_URL,
  credentials: {
    method: CredentialsMethod.ClientCredentials,
    config: {
      apiTokenIssuer: {{appUpperCaseName}}_API_TOKEN_ISSUER,
      apiAudience: {{appUpperCaseName}}_API_AUDIENCE,
      clientId: {{appUpperCaseName}}_CLIENT_ID,
      clientSecret: {{appUpperCaseName}}_CLIENT_SECRET,
    }
  }
};

export const defaultConfiguration = new ClientConfiguration(baseConfig);
