.vscode
.idea
.env
docs/openapi/*.json
docs/openapi/*.json-e

.DS_Store
.dccache

clients/**/*

# JetBrains IDEs
.idea/
*.iml

config/clients/dotnet/template/example/Example1/obj
config/clients/dotnet/template/example/Example1/bin/