module example1

go {{targetGoVersion}}

toolchain go{{toolchainGoVersion}}

// To reference published build, comment below and run `go mod tidy`
replace {{gitHost}}/{{gitUserId}}/{{gitRepoId}} v{{packageVersion}} => ../../

require {{gitHost}}/{{gitUserId}}/{{gitRepoId}} v{{packageVersion}}
