module example1

go 1.23.0

toolchain go1.24.0

// To reference published build, comment below and run `go mod tidy`
replace {{gitHost}}/{{gitUserId}}/{{gitRepoId}} v{{packageVersion}} => ../../

require {{gitHost}}/{{gitUserId}}/{{gitRepoId}} v{{packageVersion}}
