{{>licenseInfo}}
package {{invokerPackage}};

public class ReadChangesOptions {
    private String type;
    private Integer pageSize;
    private String continuationToken;

    public ReadChangesOptions type(String type) {
        this.type = type;
        return this;
    }

    public String getType() {
        return type;
    }

    public ReadChangesOptions pageSize(Integer pageSize) {
        this.pageSize = pageSize;
        return this;
    }

    public Integer getPageSize() {
        return pageSize;
    }

    public ReadChangesOptions continuationToken(String continuationToken) {
        this.continuationToken = continuationToken;
        return this;
    }

    public String getContinuationToken() {
        return continuationToken;
    }
}
