{{>licenseInfo}}
package {{invokerPackage}};

import java.util.List;

public class ClientWriteRequest {
    private List<ClientTupleKeyWithCondition> writes;
    private List<ClientTupleKey> deletes;

    public static ClientWriteRequest ofWrites(List<ClientTupleKeyWithCondition> writes) {
        return new ClientWriteRequest().writes(writes);
    }

    public ClientWriteRequest writes(List<ClientTupleKeyWithCondition> writes) {
        this.writes = writes;
        return this;
    }

    public List<ClientTupleKeyWithCondition> getWrites() {
        return writes;
    }

    public static ClientWriteRequest ofDeletes(List<ClientTupleKey> deletes) {
        return new ClientWriteRequest().deletes(deletes);
    }

    public ClientWriteRequest deletes(List<ClientTupleKey> deletes) {
        this.deletes = deletes;
        return this;
    }

    public List<ClientTupleKey> getDeletes() {
        return deletes;
    }
}
