{{>licenseInfo}}
package {{invokerPackage}};

public class ReadAuthorizationModelsOptions {
    private Integer pageSize;
    private String continuationToken;

    public ReadAuthorizationModelsOptions pageSize(Integer pageSize) {
        this.pageSize = pageSize;
        return this;
    }

    public Integer getPageSize() {
        return pageSize;
    }

    public ReadAuthorizationModelsOptions continuationToken(String continuationToken) {
        this.continuationToken = continuationToken;
        return this;
    }

    public String getContinuationToken() {
        return continuationToken;
    }
}
