{{>licenseInfo}}
package {{invokerPackage}};

import dev.openfga.sdk.errors.FgaInvalidParameterException;
import java.time.Duration;

public interface BaseConfiguration {
    String getApiUrl();

    String getUserAgent();

    Duration getReadTimeout();

    Duration getConnectTimeout();
}
