{{>licenseInfo}}
package {{invokerPackage}};

import dev.openfga.errors.FgaInvalidParameterException;
import java.time.Duration;

public interface Configuration {
    void assertValid() throws FgaInvalidParameterException;

    String getApiUrl();

    String getUserAgent();

    Duration getReadTimeout();

    Duration getConnectTimeout();
}
