{{>licenseInfo}}
package {{configPackage}};

public class ClientWriteOptions {
    private String authorizationModelId;
    private Boolean enableTransactions;
    private int transactionChunkSize;

    public ClientWriteOptions authorizationModelId(String authorizationModelId) {
        this.authorizationModelId = authorizationModelId;
        return this;
    }

    public String getAuthorizationModelId() {
        return authorizationModelId;
    }

    public ClientWriteOptions enableTransactions(boolean enableTransactions) {
        this.enableTransactions = enableTransactions;
        return this;
    }

    public boolean enableTransactions() {
        return enableTransactions != null && enableTransactions;
    }

    public ClientWriteOptions transactionChunkSize(int transactionChunkSize) {
        this.transactionChunkSize = transactionChunkSize;
        return this;
    }

    public int getTransactionChunkSize() {
        return transactionChunkSize >= 0 ? transactionChunkSize : 1;
    }
}
