{{>licenseInfo}}
package {{configPackage}};

public class ClientListStoresOptions {
    private Integer pageSize;
    private String continuationToken;

    public ClientListStoresOptions pageSize(Integer pageSize) {
        this.pageSize = pageSize;
        return this;
    }

    public Integer getPageSize() {
        return pageSize;
    }

    public ClientListStoresOptions continuationToken(String continuationToken) {
        this.continuationToken = continuationToken;
        return this;
    }

    public String getContinuationToken() {
        return continuationToken;
    }
}
