{{>licenseInfo}}
package {{invokerPackage}};

public class ApiBearerToken {
    private String token;

    public ApiBearerToken(String token) {
        this.token = token;
    }

    public void setToken(String token) {
        this.token = token;
    }

    public String getToken() {
        return this.token;
    }
}