{{>licenseInfo}}
package {{authPackage}};

import static {{utilPackage}}.StringUtil.isNullOrWhitespace;

import java.time.Instant;
import java.util.Random;

class AccessToken {
    private static final int TOKEN_EXPIRY_BUFFER_THRESHOLD_IN_SEC = {{tokenExpiryThresholdBufferInSec}};
    private static final int TOKEN_EXPIRY_JITTER_IN_SEC = {{tokenExpiryJitterInSec}}; // We add some jitter so that token refreshes are less likely to collide

    private final Random random = new Random();
    private Instant expiresAt;

    private String token;

    public boolean isValid() {
        return !isNullOrWhitespace(token)
                && (expiresAt == null
                        || expiresAt.isBefore(Instant.now()
                                .plusSeconds(TOKEN_EXPIRY_BUFFER_THRESHOLD_IN_SEC)
                                .plusSeconds(random.nextLong() % TOKEN_EXPIRY_JITTER_IN_SEC)));
    }

    public String getToken() {
        return token;
    }

    public void setExpiresAt(Instant expiresAt) {
        this.expiresAt = expiresAt;
    }

    public void setToken(String token) {
        this.token = token;
    }
}
