{{>licenseInfo}}

package dev.openfga.api;

import dev.openfga.api.invoker.*;
import dev.openfga.api.model.*;
import org.junit.Before;
import org.junit.Test;
import org.testcontainers.containers.GenericContainer;
import org.testcontainers.junit.jupiter.Container;
import org.testcontainers.junit.jupiter.Testcontainers;
import org.testcontainers.utility.DockerImageName;

import static org.junit.Assert.assertEquals;

public class OpenFgaApiTest {
    OpenFgaApi api;

    @Before
    public void initializeApi() {
        ApiClient apiClient = new ApiClient().setHost("localhost").setPort(8080);
        api = new OpenFgaApi(apiClient);
    }

    @Test
    public void createStore() throws ApiException {
        // Given
        CreateStoreRequest createStoreRequest = new CreateStoreRequest().name("create-store");

        // When
        CreateStoreResponse response = api.createStore(createStoreRequest);

        // Then
        assertEquals("create-store", response.getName());
    }
}
