publishing {
    publications {
        maven(MavenPublication) {
            from components.java

            pom {
                group = '{{groupId}}'
                name = '{{artifactId}}'
                version = '{{packageVersion}}'
                description = '{{packageDetailedDescription}}'
                url = '{{developerOrganizationUrl}}'
                licenses {
                    license {
                        name = '{{licenseName}}'
                        url = 'https://{{gitHost}}/{{gitUserId}}/{{gitRepoId}}/blob/main/LICENSE'
                    }
                }
                developers {
                    developer {
                        name = '{{author}}'
                        url = '{{developerOrganizationUrl}}'
                    }
                }
                scm {
                    url = '{{scmUrl}}'
                    connection = '{{scmConnection}}'
                    developerConnection = '{{scmDeveloperConnection}}'
                }
            }
        }
    }
    repositories {
        maven {
            name = 'GitHubPackages'
            url = 'https://maven.pkg.github.com/{{gitUserId}}/{{gitRepoId}}'
            credentials {
                username = System.getenv('GITHUB_ACTOR')
                password = System.getenv('GITHUB_TOKEN')
            }
        }
    }
}

signing {
    def signingKey = System.getenv('ORG_GRADLE_PROJECT_SIGNINGKEY')
    def signingPassword = System.getenv('ORG_GRADLE_PROJECT_SIGNINGPASSWORD')
    useInMemoryPgpKeys(signingKey, signingPassword)
    sign publishing.publications.maven
}

nexusPublishing {
    repositories {
        sonatype {
            nexusUrl.set(uri('https://central.sonatype.com/'))
            snapshotRepositoryUrl.set(uri('https://central.sonatype.com/'))
            username.set(System.getenv('MAVEN_CENTRAL_USERNAME'))
            password.set(System.getenv('MAVEN_CENTRAL_TOKEN'))
        }
    }
}
