{{>partial_header}}

import unittest
from unittest.mock import ANY
from mock import patch
from datetime import datetime
import urllib3

import {{packageName}}
from {{apiPackage}}.{{classFilename}} import {{classname}}  # noqa: E501
from {{packageName}}.api import open_fga_api
from {{packageName}}.credentials import Credentials, CredentialConfiguration
from {{packageName}}.exceptions import ApiTypeError, ApiValueError
from {{packageName}}.model.assertion import Assertion
from {{packageName}}.model.authorization_model import AuthorizationModel
from {{packageName}}.model.check_request import CheckRequest
from {{packageName}}.model.check_response import CheckResponse
from {{packageName}}.model.create_store_request import CreateStoreRequest
from {{packageName}}.model.create_store_response import CreateStoreResponse
from {{packageName}}.model.error_code import ErrorCode
from {{packageName}}.model.expand_request import ExpandRequest
from {{packageName}}.model.expand_response import ExpandResponse
from {{packageName}}.model.get_store_response import GetStoreResponse
from {{packageName}}.model.internal_error_code import InternalErrorCode
from {{packageName}}.model.internal_error_message_response import InternalErrorMessageResponse
from {{packageName}}.model.leaf import Leaf
from {{packageName}}.model.list_stores_response import ListStoresResponse
from {{packageName}}.model.node import Node
from {{packageName}}.model.not_found_error_code import NotFoundErrorCode
from {{packageName}}.model.object_relation import ObjectRelation
from {{packageName}}.model.path_unknown_error_message_response import PathUnknownErrorMessageResponse
from {{packageName}}.model.read_assertions_response import ReadAssertionsResponse
from {{packageName}}.model.read_authorization_model_response import ReadAuthorizationModelResponse
from {{packageName}}.model.read_authorization_models_response import ReadAuthorizationModelsResponse
from {{packageName}}.model.read_changes_response import ReadChangesResponse
from {{packageName}}.model.read_request import ReadRequest
from {{packageName}}.model.read_response import ReadResponse
from {{packageName}}.model.store import Store
from {{packageName}}.model.tuple import Tuple
from {{packageName}}.model.tuple_change import TupleChange
from {{packageName}}.model.tuple_key import TupleKey
from {{packageName}}.model.tuple_keys import TupleKeys
from {{packageName}}.model.tuple_operation import TupleOperation
from {{packageName}}.model.type_definition import TypeDefinition
from {{packageName}}.model.type_definitions import TypeDefinitions
from {{packageName}}.model.users import Users
from {{packageName}}.model.userset import Userset
from {{packageName}}.model.userset_tree import UsersetTree
from {{packageName}}.model.usersets import Usersets
from {{packageName}}.model.validation_error_message_response import ValidationErrorMessageResponse
from {{packageName}}.model.write_assertions_request import WriteAssertionsRequest
from {{packageName}}.model.write_authorization_model_response import WriteAuthorizationModelResponse
from {{packageName}}.model.write_request import WriteRequest


store_id='d12345abc'

# Helper function to construct mock response
def mock_response(body, status):
    headers = urllib3.response.HTTPHeaderDict({
        'content-type': 'application/json'
    })
    return urllib3.HTTPResponse(
        body.encode('utf-8'),
        headers,
        status,
        preload_content=False
    )


class {{#operations}}Test{{classname}}(unittest.TestCase):
    """{{classname}} unit test stubs"""

    def setUp(self):
        self.configuration = {{packageName}}.Configuration(
            api_scheme = 'http',
            api_host = "api.{{sampleApiDomain}}",
        )

    def tearDown(self):
        pass


{{! We will need to define each test individually instead of via the generator to allow better control of what we are testing}}

    @patch.object({{packageName}}.api_client.ApiClient, 'request')
    def test_check(self, mock_request):
        """Test case for check

        Check whether a user is authorized to access an object  # noqa: E501
        """

        # First, mock the response
        response_body = '{"allowed": true, "resolution": "1234"}'
        mock_request.return_value = mock_response(response_body, 200)

        configuration = self.configuration
        configuration.store_id = store_id
        with {{packageName}}.ApiClient(configuration) as api_client:
            api_instance = open_fga_api.OpenFgaApi(api_client)
            body = CheckRequest(
                tuple_key=TupleKey(
                    object="document:2021-budget",
                    relation="reader",
                    user="anne",
                ),
            )
            api_response = api_instance.check(
                # Notice here the path_param is omitted and we should still expect
                # correct path being generated
                body=body,
            )
            self.assertIsInstance(api_response, CheckResponse)
            self.assertTrue(api_response.allowed)
            # Make sure the API was called with the right data
            mock_request.assert_called_once_with(
                'POST',
                'http://api.{{sampleApiDomain}}/stores/d12345abc/check',
                headers=ANY,
                query_params=[],
                post_params=[],
                body={"tuple_key":{"object":"document:2021-budget","relation":"reader","user":"anne"}},
                _preload_content=ANY,
                _request_timeout=None
            )

    @patch.object({{packageName}}.api_client.ApiClient, 'request')
    def test_create_store(self, mock_request):
        """Test case for create_store

        Create a store  # noqa: E501
        """
        response_body = '''{
            "id": "01YCP46JKYM8FJCQ37NMBYHE5X",
            "name": "test_store",
            "created_at": "2022-07-25T17:41:26.607Z",
            "updated_at": "2022-07-25T17:41:26.607Z"}
            '''
        mock_request.return_value = mock_response(response_body, 201)

        configuration = self.configuration
        with {{packageName}}.ApiClient(configuration) as api_client:
            api_instance = open_fga_api.OpenFgaApi(api_client)
            body = CreateStoreRequest(
                name="test-store",
            )
            api_response = api_instance.create_store(
                body=body,
            )
            self.assertIsInstance(api_response, CreateStoreResponse)
            self.assertEqual(api_response.id, '01YCP46JKYM8FJCQ37NMBYHE5X')
            mock_request.assert_called_once_with(
                'POST',
                'http://api.{{sampleApiDomain}}/stores',
                headers=ANY,
                query_params=[],
                post_params=[],
                body={"name":"test-store"},
                _preload_content=ANY,
                _request_timeout=None
            )

    @patch.object({{packageName}}.api_client.ApiClient, 'request')
    def test_delete_store(self, mock_request):
        """Test case for delete_store

        Delete a store  # noqa: E501
        """
        response_body = ''
        mock_request.return_value = mock_response(response_body, 201)
        configuration = self.configuration
        configuration.store_id = store_id
        with {{packageName}}.ApiClient(configuration) as api_client:
            api_instance = open_fga_api.OpenFgaApi(api_client)
            api_instance.delete_store()
            mock_request.assert_called_once_with(
                'DELETE',
                'http://api.{{sampleApiDomain}}/stores/d12345abc',
                headers=ANY,
                query_params=[],
                post_params=[],
                body=None,
                _preload_content=ANY,
                _request_timeout=None
            )


    @patch.object({{packageName}}.api_client.ApiClient, 'request')
    def test_expand(self, mock_request):
        """Test case for expand

        Expand all relationships in userset tree format, and following userset rewrite rules.  Useful to reason about and debug a certain relationship  # noqa: E501
        """
        response_body = '''{
            "tree": {"root": {"name": "document:budget#reader", "leaf": {"users": {"users": ["anne"]}}}}}
            '''
        mock_request.return_value = mock_response(response_body, 200)
        configuration = self.configuration
        configuration.store_id = store_id
        with {{packageName}}.ApiClient(configuration) as api_client:
            api_instance = open_fga_api.OpenFgaApi(api_client)
            body = ExpandRequest(
                tuple_key=TupleKey(
                    object="document:budget",
                    relation="reader",
                ),
            )
            api_response = api_instance.expand(
                body=body,
            )
            self.assertIsInstance(api_response, ExpandResponse)
            curUsers = Users({"users": ["anne"]})
            leaf = Leaf({"users": curUsers})
            node = Node({"name": "document:budget#reader", "leaf": leaf})
            userTree = UsersetTree({"root": node})
            expected_response = ExpandResponse({"tree": userTree})
            self.assertEqual(api_response, expected_response)
            mock_request.assert_called_once_with(
                'POST',
                'http://api.{{sampleApiDomain}}/stores/d12345abc/expand',
                headers=ANY,
                query_params=[],
                post_params=[],
                body={"tuple_key":{"object":"document:budget","relation":"reader"}},
                _preload_content=ANY,
                _request_timeout=None
            )


    @patch.object({{packageName}}.api_client.ApiClient, 'request')
    def test_get_store(self, mock_request):
        """Test case for get_store

        Get a store  # noqa: E501
        """
        response_body = '''{
  "id": "d12345abc",
  "name": "test_store",
  "created_at": "2022-07-25T20:45:10.485Z",
  "updated_at": "2022-07-25T20:45:10.485Z"
}
            '''
        mock_request.return_value = mock_response(response_body, 200)
        configuration = self.configuration
        configuration.store_id = store_id
        with {{packageName}}.ApiClient(configuration) as api_client:
            api_instance = open_fga_api.OpenFgaApi(api_client)
            # Get a store
            api_response = api_instance.get_store()
            self.assertIsInstance(api_response, GetStoreResponse)
            self.assertEqual(api_response.id, 'd12345abc')
            self.assertEqual(api_response.name, 'test_store')
            mock_request.assert_called_once_with(
                'GET',
                'http://api.{{sampleApiDomain}}/stores/d12345abc',
                headers=ANY,
                query_params=[],
                post_params=[],
                body=None,
                _preload_content=ANY,
                _request_timeout=None
            )

    # ATQ: TODO add test for list_objects

    @patch.object({{packageName}}.api_client.ApiClient, 'request')
    def test_list_stores(self, mock_request):
        """Test case for list_stores

        Get all stores  # noqa: E501
        """
        response_body = '''
{
  "stores": [
    {
      "id": "01YCP46JKYM8FJCQ37NMBYHE5X",
      "name": "store1",
      "created_at": "2022-07-25T21:15:37.524Z",
      "updated_at": "2022-07-25T21:15:37.524Z",
      "deleted_at": "2022-07-25T21:15:37.524Z"
    },
    {
      "id": "01YCP46JKYM8FJCQ37NMBYHE6X",
      "name": "store2",
      "created_at": "2022-07-25T21:15:37.524Z",
      "updated_at": "2022-07-25T21:15:37.524Z",
      "deleted_at": "2022-07-25T21:15:37.524Z"
    }
  ],
  "continuation_token": "eyJwayI6IkxBVEVTVF9OU0NPTkZJR19hdXRoMHN0b3JlIiwic2siOiIxem1qbXF3MWZLZExTcUoyN01MdTdqTjh0cWgifQ=="
}
            '''
        mock_request.return_value = mock_response(response_body, 200)
        configuration = self.configuration
        with {{packageName}}.ApiClient(configuration) as api_client:
            api_instance = open_fga_api.OpenFgaApi(api_client)
            # Get all stores
            api_response = api_instance.list_stores(
                page_size=1,
                continuation_token="continuation_token_example",
            )
            self.assertIsInstance(api_response, ListStoresResponse)
            self.assertEqual(api_response.continuation_token,
                "eyJwayI6IkxBVEVTVF9OU0NPTkZJR19hdXRoMHN0b3JlIiwic2siOiIxem1qbXF3MWZLZExTcUoyN01MdTdqTjh0cWgifQ==")
            store1 = Store({
                "id" : "01YCP46JKYM8FJCQ37NMBYHE5X",
                "name" : "store1",
                "created_at" : datetime.fromisoformat("2022-07-25T21:15:37.524+00:00"),
                "updated_at" : datetime.fromisoformat("2022-07-25T21:15:37.524+00:00"),
                "deleted_at" : datetime.fromisoformat("2022-07-25T21:15:37.524+00:00"),
            })
            store2 = Store({
                "id" : "01YCP46JKYM8FJCQ37NMBYHE6X",
                "name" : "store2",
                "created_at" : datetime.fromisoformat("2022-07-25T21:15:37.524+00:00"),
                "updated_at" : datetime.fromisoformat("2022-07-25T21:15:37.524+00:00"),
                "deleted_at" : datetime.fromisoformat("2022-07-25T21:15:37.524+00:00"),
            })

            stores = [store1, store2]
            self.assertEqual(api_response.stores, stores)
            mock_request.assert_called_once_with(
                'GET',
                'http://api.{{sampleApiDomain}}/stores',
                headers=ANY,
                query_params=[('page_size', 1), ('continuation_token', 'continuation_token_example')],
                post_params=[],
                body=None,
                _preload_content=ANY,
                _request_timeout=None
            )


    @patch.object(openfga_sdk.api_client.ApiClient, 'request')
    def test_read(self, mock_request):
        """Test case for read

        Get tuples from the store that matches a query, without following userset rewrite rules  # noqa: E501
        """
        response_body = '''
            {
  "tuples": [
    {
      "key": {
        "user": "anne",
        "relation": "reader",
        "object": "document:2021-budget"
      },
      "timestamp": "2021-10-06T15:32:11.128Z"
    }
  ]
}
        '''
        mock_request.return_value = mock_response(response_body, 200)
        configuration = self.configuration
        configuration.store_id = store_id
        with openfga_sdk.ApiClient(configuration) as api_client:
            api_instance = open_fga_api.OpenFgaApi(api_client)
            body = ReadRequest(
                tuple_key=TupleKey(
                    object="document:2021-budget",
                    relation="reader",
                    user="anne",
                ),
                authorization_model_id="01G5JAVJ41T49E9TT3SKVS7X1J",
                page_size=50,
                continuation_token="eyJwayI6IkxBVEVTVF9OU0NPTkZJR19hdXRoMHN0b3JlIiwic2siOiIxem1qbXF3MWZLZExTcUoyN01MdTdqTjh0cWgifQ==",
            )
            api_response = api_instance.read(
                body=body,
            )
            self.assertIsInstance(api_response, ReadResponse)
            key = TupleKey({"user":"anne","relation":"reader","object":"document:2021-budget"})
            timestamp = datetime.fromisoformat("2021-10-06T15:32:11.128+00:00")
            expected_data = ReadResponse({"tuples": [Tuple({"key": key, "timestamp": timestamp })]})
            self.assertEqual(api_response, expected_data)
            mock_request.assert_called_once_with(
                'POST',
                'http://api.{{sampleApiDomain}}/stores/d12345abc/read',
                headers=ANY,
                query_params=[],
                post_params=[],
                body={"tuple_key":{"object":"document:2021-budget","relation":"reader","user":"anne"},"authorization_model_id":"01G5JAVJ41T49E9TT3SKVS7X1J","page_size":50,"continuation_token":"eyJwayI6IkxBVEVTVF9OU0NPTkZJR19hdXRoMHN0b3JlIiwic2siOiIxem1qbXF3MWZLZExTcUoyN01MdTdqTjh0cWgifQ=="},
                _preload_content=ANY,
                _request_timeout=None
            )


    @patch.object(openfga_sdk.api_client.ApiClient, 'request')
    def test_read_assertions(self, mock_request):
        """Test case for read_assertions

        Read assertions for an authorization model ID  # noqa: E501
        """
        response_body = '''
{
  "authorization_model_id": "01G5JAVJ41T49E9TT3SKVS7X1J",
  "assertions": [
    {
      "tuple_key": {
        "object": "document:2021-budget",
        "relation": "reader",
        "user": "anne"
      },
      "expectation": true
    }
  ]
}
        '''
        mock_request.return_value = mock_response(response_body, 200)
        configuration = self.configuration
        configuration.store_id = store_id
        with openfga_sdk.ApiClient(configuration) as api_client:
            api_instance = open_fga_api.OpenFgaApi(api_client)
            api_response = api_instance.read_assertions(
                "01G5JAVJ41T49E9TT3SKVS7X1J",
            )
            self.assertIsInstance(api_response, ReadAssertionsResponse)
            self.assertEqual(api_response.authorization_model_id, '01G5JAVJ41T49E9TT3SKVS7X1J')
            assertion= Assertion(
                tuple_key=TupleKey(
                    object="document:2021-budget",
                    relation="reader",
                    user="anne",
                ),
                expectation=True,
            )
            self.assertEqual(api_response.assertions, [assertion])
            mock_request.assert_called_once_with(
                'GET',
                'http://api.{{sampleApiDomain}}/stores/d12345abc/assertions/01G5JAVJ41T49E9TT3SKVS7X1J',
                headers=ANY,
                query_params=[],
                post_params=[],
                body=None,
                _preload_content=ANY,
                _request_timeout=None
            )

    @patch.object(openfga_sdk.api_client.ApiClient, 'request')
    def test_read_authorization_model(self, mock_request):
        """Test case for read_authorization_model

        Return a particular version of an authorization model  # noqa: E501
        """
        response_body = '''
{
  "authorization_model": {
    "id": "01G5JAVJ41T49E9TT3SKVS7X1J",
    "type_definitions": [
      {
        "type": "document",
        "relations": {
          "reader": {
            "union": {
              "child": [
                {
                  "this": {}
                },
                {
                  "computedUserset": {
                    "object": "",
                    "relation": "writer"
                  }
                }
              ]
            }
          },
          "writer": {
            "this": {}
          }
        }
      }
    ]
  }
}
        '''
        mock_request.return_value = mock_response(response_body, 200)
        configuration = self.configuration
        configuration.store_id = store_id
        # Enter a context with an instance of the API client
        with openfga_sdk.ApiClient(configuration) as api_client:
            # Create an instance of the API class
            api_instance = open_fga_api.OpenFgaApi(api_client)

            # Return a particular version of an authorization model
            api_response = api_instance.read_authorization_model(
                "01G5JAVJ41T49E9TT3SKVS7X1J",
            )
            self.assertIsInstance(api_response, ReadAuthorizationModelResponse)
            type_definitions = [ 
                TypeDefinition(
                    type="document",
                    relations=dict(
                        reader=Userset(
                            union=Usersets(
                                child=[
                                    Userset(this=dict()),
                                    Userset(computed_userset=ObjectRelation(
                                        object="",
                                        relation="writer",
                                    )),
                                ],
                            ),
                        ),
					    writer=Userset(
                            this=dict(),
                        ),
		            )
                )
            ]
            authorization_model = AuthorizationModel(id='01G5JAVJ41T49E9TT3SKVS7X1J',
                type_definitions=type_definitions)
            self.assertEqual(api_response.authorization_model, authorization_model)
            mock_request.assert_called_once_with(
                'GET',
                'http://api.{{sampleApiDomain}}/stores/d12345abc/authorization-models/01G5JAVJ41T49E9TT3SKVS7X1J',
                headers=ANY,
                query_params=[],
                post_params=[],
                body=None,
                _preload_content=ANY,
                _request_timeout=None
            )


    @patch.object(openfga_sdk.api_client.ApiClient, 'request')
    def test_read_authorization_models(self, mock_request):
        """Test case for read_authorization_models

        Return all the authorization models for a particular store  # noqa: E501
        """
        response_body = '''
{
  "authorization_models": [
  {
    "id": "01G5JAVJ41T49E9TT3SKVS7X1J",
    "type_definitions": [
      {
        "type": "document",
        "relations": {
          "reader": {
            "union": {
              "child": [
                {
                  "this": {}
                },
                {
                  "computedUserset": {
                    "object": "",
                    "relation": "writer"
                  }
                }
              ]
            }
          },
          "writer": {
            "this": {}
          }
        }
      }
    ]
  }],
  "continuation_token": "eyJwayI6IkxBVEVTVF9OU0NPTkZJR19hdXRoMHN0b3JlIiwic2siOiIxem1qbXF3MWZLZExTcUoyN01MdTdqTjh0cWgifQ=="
}
        '''
        mock_request.return_value = mock_response(response_body, 200)
        configuration = self.configuration
        configuration.store_id = store_id
        # Enter a context with an instance of the API client
        with openfga_sdk.ApiClient(configuration) as api_client:
            # Create an instance of the API class
            api_instance = open_fga_api.OpenFgaApi(api_client)

            # Return a particular version of an authorization model
            api_response = api_instance.read_authorization_models(
                page_size=1,
                continuation_token="abcdefg"
            )
            self.assertIsInstance(api_response, ReadAuthorizationModelsResponse)
            type_definitions = [ 
                TypeDefinition(
                    type="document",
                    relations=dict(
                        reader=Userset(
                            union=Usersets(
                                child=[
                                    Userset(this=dict()),
                                    Userset(computed_userset=ObjectRelation(
                                        object="",
                                        relation="writer",
                                    )),
                                ],
                            ),
                        ),
					    writer=Userset(
                            this=dict(),
                        ),
		            )
                ),
            ]
            authorization_model = AuthorizationModel(id='01G5JAVJ41T49E9TT3SKVS7X1J',
                type_definitions=type_definitions)
            self.assertEqual(api_response.authorization_models, [authorization_model])
            self.assertEqual(api_response.continuation_token,
                "eyJwayI6IkxBVEVTVF9OU0NPTkZJR19hdXRoMHN0b3JlIiwic2siOiIxem1qbXF3MWZLZExTcUoyN01MdTdqTjh0cWgifQ==")
            mock_request.assert_called_once_with(
                'GET',
                'http://api.{{sampleApiDomain}}/stores/d12345abc/authorization-models',
                headers=ANY,
                query_params=[('page_size', 1), ('continuation_token', 'abcdefg')],
                post_params=[],
                body=None,
                _preload_content=ANY,
                _request_timeout=None
            )


    @patch.object(openfga_sdk.api_client.ApiClient, 'request')
    def test_read_changes(self, mock_request):
        """Test case for read_changes

        Return a list of all the tuple changes  # noqa: E501
        """
        response_body = '''
{
  "changes": [
    {
      "tuple_key": {
        "object": "document:2021-budget",
        "relation": "reader",
        "user": "anne"
      },
      "operation": "TUPLE_OPERATION_WRITE",
      "timestamp": "2022-07-26T15:55:55.809Z"
    }
  ],
  "continuation_token": "eyJwayI6IkxBVEVTVF9OU0NPTkZJR19hdXRoMHN0b3JlIiwic2siOiIxem1qbXF3MWZLZExTcUoyN01MdTdqTjh0cWgifQ=="
}
        '''
        mock_request.return_value = mock_response(response_body, 200)
        configuration = self.configuration
        configuration.store_id = store_id
        # Enter a context with an instance of the API client
        with openfga_sdk.ApiClient(configuration) as api_client:
            # Create an instance of the API class
            api_instance = open_fga_api.OpenFgaApi(api_client)

            # Return a particular version of an authorization model
            api_response = api_instance.read_changes(
                page_size=1,
                continuation_token="abcdefg",
                type="document"
            )
            self.assertIsInstance(api_response, ReadChangesResponse)
            changes = TupleChange(
                tuple_key=TupleKey(object="document:2021-budget",relation="reader",user="anne"),
                operation=TupleOperation("TUPLE_OPERATION_WRITE"),
                timestamp=datetime.fromisoformat("2022-07-26T15:55:55.809+00:00"))
            read_changes = ReadChangesResponse(
                continuation_token='eyJwayI6IkxBVEVTVF9OU0NPTkZJR19hdXRoMHN0b3JlIiwic2siOiIxem1qbXF3MWZLZExTcUoyN01MdTdqTjh0cWgifQ==',
                changes=[changes])
            self.assertEqual(api_response, read_changes)
            mock_request.assert_called_once_with(
                'GET',
                'http://api.{{sampleApiDomain}}/stores/d12345abc/changes',
                headers=ANY,
                query_params=[('page_size', 1), ('continuation_token', 'abcdefg'), ('type', 'document')],
                post_params=[],
                body=None,
                _preload_content=ANY,
                _request_timeout=None
            )


    @patch.object(openfga_sdk.api_client.ApiClient, 'request')
    def test_write(self, mock_request):
        """Test case for write

        Add tuples from the store  # noqa: E501
        """
        response_body = '{}'
        mock_request.return_value = mock_response(response_body, 200)
        configuration = self.configuration
        configuration.store_id = store_id
        # Enter a context with an instance of the API client
        with openfga_sdk.ApiClient(configuration) as api_client:
            # Create an instance of the API class
            api_instance = open_fga_api.OpenFgaApi(api_client)

            # example passing only required values which don't have defaults set

            body = WriteRequest(
                writes=TupleKeys(
                    tuple_keys=[
                        TupleKey(
                            object="document:2021-budget",
                            relation="reader",
                            user="anne",
                        )
                    ],
                ),
                authorization_model_id="01G5JAVJ41T49E9TT3SKVS7X1J",
            )
            api_instance.write(
                body,
            )
            mock_request.assert_called_once_with(
                'POST',
                'http://api.{{sampleApiDomain}}/stores/d12345abc/write',
                headers=ANY,
                query_params=[],
                post_params=[],
                body={"writes":{"tuple_keys":[{"object":"document:2021-budget","relation":"reader","user":"anne"}]},"authorization_model_id":"01G5JAVJ41T49E9TT3SKVS7X1J"},
                _preload_content=ANY,
                _request_timeout=None
            )

    @patch.object(openfga_sdk.api_client.ApiClient, 'request')
    def test_write_delete(self, mock_request):
        """Test case for write

        Delete tuples from the store  # noqa: E501
        """
        response_body = '{}'
        mock_request.return_value = mock_response(response_body, 200)
        configuration = self.configuration
        configuration.store_id = store_id
        # Enter a context with an instance of the API client
        with openfga_sdk.ApiClient(configuration) as api_client:
            # Create an instance of the API class
            api_instance = open_fga_api.OpenFgaApi(api_client)

            # example passing only required values which don't have defaults set

            body = WriteRequest(
                deletes=TupleKeys(
                    tuple_keys=[
                        TupleKey(
                            object="document:2021-budget",
                            relation="reader",
                            user="anne",
                        )
                    ],
                ),
                authorization_model_id="01G5JAVJ41T49E9TT3SKVS7X1J",
            )
            api_instance.write(
                body,
            )
            mock_request.assert_called_once_with(
                'POST',
                'http://api.{{sampleApiDomain}}/stores/d12345abc/write',
                headers=ANY,
                query_params=[],
                post_params=[],
                body={"deletes":{"tuple_keys":[{"object":"document:2021-budget","relation":"reader","user":"anne"}]},"authorization_model_id":"01G5JAVJ41T49E9TT3SKVS7X1J"},
                _preload_content=ANY,
                _request_timeout=None
            )


    @patch.object(openfga_sdk.api_client.ApiClient, 'request')
    def test_write_assertions(self, mock_request):
        """Test case for write_assertions

        Upsert assertions for an authorization model ID  # noqa: E501
        """
        response_body = ''
        mock_request.return_value = mock_response(response_body, 204)
        configuration = self.configuration
        configuration.store_id = store_id
        # Enter a context with an instance of the API client
        with openfga_sdk.ApiClient(configuration) as api_client:
            # Create an instance of the API class
            api_instance = open_fga_api.OpenFgaApi(api_client)

            # example passing only required values which don't have defaults set
            body = WriteAssertionsRequest(
                assertions=[
                    Assertion(
                        tuple_key=TupleKey(
                            object="document:2021-budget",
                            relation="reader",
                            user="anne",
                        ),
                        expectation=True,
                    )
                ],
            )
            # Upsert assertions for an authorization model ID
            api_instance.write_assertions(
                authorization_model_id="xyz0123",
                body=body,
            )
            mock_request.assert_called_once_with(
                'PUT',
                'http://api.{{sampleApiDomain}}/stores/d12345abc/assertions/xyz0123',
                headers=ANY,
                query_params=[],
                post_params=[],
                body={"assertions":[{"expectation":True,"tuple_key":{"object":"document:2021-budget","relation":"reader","user":"anne"}}]},
                _preload_content=ANY,
                _request_timeout=None
            )

    @patch.object(openfga_sdk.api_client.ApiClient, 'request')
    def test_write_authorization_model(self, mock_request):
        """Test case for write_authorization_model

        Create a new authorization model  # noqa: E501
        """
        response_body = '{"authorization_model_id": "01G5JAVJ41T49E9TT3SKVS7X1J"}'
        mock_request.return_value = mock_response(response_body, 201)
        configuration = self.configuration
        configuration.store_id = store_id
        with openfga_sdk.ApiClient(configuration) as api_client:
            # Create an instance of the API class
            api_instance = open_fga_api.OpenFgaApi(api_client)

            # example passing only required values which don't have defaults set
            body = TypeDefinitions(
                type_definitions=[
                    TypeDefinition(
                        type="document",
                        relations=dict(
			        		writer=Userset(
                                this=dict(),
                            ),
                            reader=Userset(
                                union=Usersets(
                                    child=[
                                        Userset(this=dict()),
                                        Userset(computed_userset=ObjectRelation(
                                            object="",
                                            relation="writer",
                                        )),
                                    ],
                                ),
                            ),
		                )
                    ),
                ],
            )
            # Create a new authorization model
            api_response = api_instance.write_authorization_model(
                body
            )
            self.assertIsInstance(api_response, WriteAuthorizationModelResponse)
            expected_response = WriteAuthorizationModelResponse(
                authorization_model_id='01G5JAVJ41T49E9TT3SKVS7X1J'
            )
            self.assertEqual(api_response, expected_response)
            mock_request.assert_called_once_with(
                'POST',
                'http://api.{{sampleApiDomain}}/stores/d12345abc/authorization-models',
                headers=ANY,
                query_params=[],
                post_params=[],
                body={"type_definitions":[{"type":"document","relations":{"writer":{"this":{}},"reader":{"union":{"child":[{"this":{}},{"computedUserset":{"object":"","relation":"writer"}}]}}}}]},
                _preload_content=ANY,
                _request_timeout=None
            )

    def test_default_scheme(self):
        """
        Ensure default scheme is https
        """
        configuration = {{packageName}}.Configuration(
            api_host='localhost'
        )
        self.assertEqual(configuration.api_scheme, 'https')

    def test_host_port(self):
        """
        Ensure host has port will not raise error
        """
        configuration = {{packageName}}.Configuration(
            api_host='localhost:3000'
        )
        self.assertEqual(configuration.api_host, 'localhost:3000')

    def test_configuration_missing_host(self):
        """
        Test whether ApiTypeError is raised if configuration does not have host specified
        """
        configuration = {{packageName}}.Configuration(
            api_scheme='http'
        )
        self.assertRaises(ApiTypeError, configuration.is_valid)

    def test_configuration_missing_scheme(self):
        """
        Test whether ApiTypeError is raised if configuration does not have scheme specified
        """
        configuration = {{packageName}}.Configuration(
            api_host='localhost'
        )
        configuration.api_scheme = None
        self.assertRaises(ApiTypeError, configuration.is_valid)

    def test_configuration_bad_scheme(self):
        """
        Test whether ApiValueError is raised if scheme is bad
        """
        configuration = {{packageName}}.Configuration(
            api_host='localhost',
            api_scheme='foo'
        )
        self.assertRaises(ApiValueError, configuration.is_valid)

    def test_configuration_bad_host(self):
        """
        Test whether ApiValueError is raised if host is bad
        """
        configuration = {{packageName}}.Configuration(
            api_host='/',
            api_scheme='foo'
        )
        self.assertRaises(ApiValueError, configuration.is_valid)

    def test_configuration_has_path(self):
        """
        Test whether ApiValueError is raised if host has path
        """
        configuration = {{packageName}}.Configuration(
            api_host='localhost/mypath',
            api_scheme='http'
        )
        self.assertRaises(ApiValueError, configuration.is_valid)

    def test_configuration_has_query(self):
        """
        Test whether ApiValueError is raised if host has query
        """
        configuration = {{packageName}}.Configuration(
            api_host='localhost?mypath=foo',
            api_scheme='http'
        )
        self.assertRaises(ApiValueError, configuration.is_valid)

    def test_bad_configuration_read_authorization_model(self):
        """
        Test whether ApiTypeError is raised for API (reading authorization models)
        with configuration is having incorrect API scheme
        """
        configuration = {{packageName}}.Configuration(
            api_scheme = 'bad',
            api_host = "api.{{sampleApiDomain}}",
        )
        configuration.store_id = 'xyz123'
        # Enter a context with an instance of the API client
        with openfga_sdk.ApiClient(configuration) as api_client:
            # Create an instance of the API class
            api_instance = open_fga_api.OpenFgaApi(api_client)

            # expects ApiTypeError to be thrown because api_scheme is bad
            with self.assertRaises(ApiValueError):
                api_instance.read_authorization_models(
                    page_size= 1,
                    continuation_token= "abcdefg"
                )

    def test_configuration_missing_storeid(self):
        """
        Test whether ApiTypeError is raised for API (reading authorization models)
        required store ID but configuration is missing store ID
        """
        configuration = {{packageName}}.Configuration(
            api_scheme = 'http',
            api_host = "api.{{sampleApiDomain}}",
        )
        # Notice the store_id is not set
        # Enter a context with an instance of the API client
        with openfga_sdk.ApiClient(configuration) as api_client:
            # Create an instance of the API class
            api_instance = open_fga_api.OpenFgaApi(api_client)

            # expects ApiTypeError to be thrown because store_id is not specified
            with self.assertRaises(ApiTypeError):
                api_instance.read_authorization_models(
                    page_size= 1,
                    continuation_token= "abcdefg"
                )

{{/operations}}

if __name__ == '__main__':
    unittest.main()
