### pip install

#### PyPI

The {{packageName}} is available to be downloaded via PyPI, you can install directly using:

```sh
pip3 install {{packageName}}
```
(you may need to run `pip` with root permission: `sudo pip3 install {{packageName}}`)

Then import the package:
```python
import {{{packageName}}}
```

#### GitHub

The {{packageName}} is also hosted in GitHub, you can install directly using:

```sh
pip3 install https://{{gitHost}}/{{{gitUserId}}}/{{{gitRepoId}}}.git
```
(you may need to run `pip` with root permission: `sudo pip3 install https://{{gitHost}}/{{{gitUserId}}}/{{{gitRepoId}}}.git`)

Then import the package:
```python
import {{{packageName}}}
```

### Setuptools

Install via [Setuptools](https://pypi.python.org/pypi/setuptools).

```sh
python setup.py install --user
```
(or `sudo python setup.py install` to install the package for all users)

Then import the package:
```python
import {{{packageName}}}
```
