Should a network request fail due to a 429 or 5xx error response from the server, the SDK will (by default) automatically retry the request up to {{defaultMaxRetry}} times, waiting no less than {{defaultMinWaitInMs}} milliseconds between each attempt.

You can override these default values by initializing an instance of the `RetryParams` class. It's constructor accepts two parameters: `max_retry` and `min_wait_in_ms`. The `max_retry` value assigns the maximum number of retries, and the `min_wait_in_ms` value assigns the minimum wait time between retries (in milliseconds.)

Pass your `RetryParams` object to the `ClientConfiguration` constructor during initialization using the `retry_params` parameter to apply your values.

```python
import os

from {{packageName}} import ClientConfiguration, {{appShortName}}Client
from {{packageName}}.configuration import RetryParams


async def main():
    config = ClientConfiguration(
        api_url=os.getenv("FGA_API_URL"),
        retry_params=RetryParams(  # Override the default retry behavior
            max_retry=3,  # Retry up to 3 times
            min_wait_in_ms=250  # Wait a minimum of 250 milliseconds between attempts
        )
    );

    # Enter a context with an instance of the {{appShortName}}Client
    async with {{appShortName}}Client(config) as client:
        response = await client.read_authorization_models()
        await client.close()
        return response
```
