{{>partial_header}}

import pathlib
import pkg_resources

from setuptools import find_packages, setup


NAME = "{{{projectName}}}"
VERSION = "{{packageVersion}}"
REQUIRES = []
{{#apiInfo}}{{#apis}}{{#-last}}

with pathlib.Path("requirements.txt").open() as requirements_txt:
    REQUIRES = [
        str(requirement)
        for requirement in pkg_resources.parse_requirements(requirements_txt)
    ]

this_directory = pathlib.Path(__file__).parent
long_description = (this_directory / "README.md").read_text()

setup(
    name=NAME,
    version=VERSION,
    description="{{appDescription}}",
    author="{{author}} ({{websiteUrl}})",
    author_email="{{infoEmail}}",
    url="https://{{gitHost}}/{{gitUserId}}/{{gitRepoId}}",
    classifiers=[
        "Development Status :: 5 - Production/Stable",
        "Intended Audience :: Developers",
        "License :: OSI Approved :: Apache Software License",
        "Programming Language :: Python :: 3.10",
        "Programming Language :: Python :: 3.11",
        "Programming Language :: Python :: 3.12",
    ],
    keywords=[
        {{#packageTags}}
        "{{.}}",
        {{/packageTags}}
    ],
    install_requires=REQUIRES,
    python_requires=">={{pythonMinimumRuntime}}",
    packages=find_packages(exclude=["test"]),
    include_package_data=True,
    {{#licenseId}}license="{{.}}",
    {{/licenseId}}long_description_content_type="text/markdown",
    long_description=long_description,
)
{{/-last}}
{{/apis}}
{{/apiInfo}}
