{{>licenseInfo}}
package {{clientPackage}}.model;

import static org.junit.jupiter.api.Assertions.*;
import org.junit.jupiter.api.Test;

public class ClientWriteStatusTest {

    @Test
    public void testSuccessValue() {
        assertEquals("SUCCESS", ClientWriteStatus.SUCCESS.toString());
    }

    @Test
    public void testFailureValue() {
        assertEquals("FAILURE", ClientWriteStatus.FAILURE.toString());
    }
}
