To install:

```
gem install openfga
```

Alternatively, you can add it to your `Gemfile`:

```
gem 'openfga'
```

Then run `bundle install` to install the gem.

To use in your code, require the gem and create the configuration:

```
require 'openfga'

sdk_config = {
  api_url: 'http://localhost:8080'
}
```

