{{>partial_header}}

using {{packageName}}.ApiClient;
using {{packageName}}.Exceptions;
using {{packageName}}.{{modelPackage}};

namespace {{packageName}}.{{apiPackage}};

public class {{classname}} : IDisposable {
    private Configuration.Configuration _configuration;
    private ApiClient.ApiClient _apiClient;

    /// <summary>
    /// Store ID
    /// </summary>
    public string? StoreId {
        get => _configuration.StoreId;
        set => _configuration.StoreId = value;
    }

    /// <summary>
    /// Initializes a new instance of the <see cref="{{classname}}"/> class.
    /// </summary>
    /// <param name="configuration"></param>
    /// <param name="httpClient"></param>
    public {{classname}}(
        Configuration.Configuration configuration,
        HttpClient? httpClient = null
    ) {
        this._configuration = configuration;
        this._apiClient = new ApiClient.ApiClient(_configuration, httpClient);
    }

    {{#operations}}
    {{#operation}}
    /// <summary>
    /// {{summary}} {{notes}}
    /// </summary>
    /// <exception cref="{{packageName}}.Exceptions.ApiException">Thrown when fails to make API call</exception>
    {{#allParams}}
    {{^-first}}
    /// <param name="{{paramName}}">{{description}}{{^required}} (optional{{#defaultValue}}, default to {{.}}{{/defaultValue}}){{/required}}{{#isDeprecated}} (deprecated){{/isDeprecated}}</param>
    {{/-first}}
    {{/allParams}}
    /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
    /// <returns>Task of {{returnType}}{{^returnType}}void{{/returnType}}</returns>
    {{#isDeprecated}}
    [Obsolete]
    {{/isDeprecated}}
    {{#returnType}}public async Task<{{{.}}}>{{/returnType}}{{^returnType}}public async Task{{/returnType}} {{operationId}}({{#allParams}}{{^-first}}{{{dataType}}} {{paramName}}{{^required}}{{#optionalMethodArgument}} = default({{{dataType}}}){{/optionalMethodArgument}}{{/required}}{{^-last}}, {{/-last}}{{/-first}}{{/allParams}}{{#allParams.1}}, {{/allParams.1}}CancellationToken cancellationToken = default) {
        var pathParams = new Dictionary<string, string> {};
        {{#pathParams.0}}
        if (string.IsNullOrWhiteSpace(_configuration.StoreId)) {
            throw new FgaRequiredParamError("Configuration", nameof(_configuration.StoreId));
        }
        pathParams.Add("store_id", _configuration.StoreId);
        {{/pathParams.0}}

        {{#pathParams}}
        {{^-first}}if ({{paramName}} != null) {
            pathParams.Add("{{baseName}}", {{paramName}}.ToString());
        }{{/-first}}
        {{/pathParams}}
        var queryParams = new Dictionary<string, string>();
        {{#queryParams}}
        if ({{paramName}} != null) {
            queryParams.Add("{{baseName}}", {{paramName}}.ToString());
        }
        {{/queryParams}}

        var requestBuilder = new RequestBuilder {
            Method = new HttpMethod("{{httpMethod}}"),
            BasePath = _configuration.BasePath,
            PathTemplate = "{{path}}",
            PathParameters = pathParams,
            {{#bodyParam}}
            Body = Utils.CreateJsonStringContent({{paramName}}),
            {{/bodyParam}}
            QueryParameters = queryParams,
        };

        {{#returnType}}return {{/returnType}}await this._apiClient.SendRequestAsync{{#returnType}}<{{{.}}}>{{/returnType}}(requestBuilder,
            "{{operationId}}", cancellationToken);
    }

    {{/operation}}
    {{/operations}}

    public void Dispose() {
        _apiClient.Dispose();
    }
}
