{{>partial_header}}

using System;
using System.Collections.Generic;
using System.Net.Http;
using System.Threading;
using System.Threading.Tasks;
using {{packageName}}.ApiClient;
using {{packageName}}.Exceptions;
using {{packageName}}.{{modelPackage}};

namespace {{packageName}}.{{apiPackage}};

public class {{classname}} : IDisposable {
    private readonly ApiClient.ApiClient _apiClient;
    private readonly Configuration.Configuration _configuration;

    /// <summary>
    ///     Initializes a new instance of the <see cref="{{classname}}"/> class.
    /// </summary>
    /// <param name="configuration"></param>
    /// <param name="httpClient"></param>
    public {{classname}}(
        Configuration.Configuration configuration,
        HttpClient? httpClient = null
    ) {
        configuration.EnsureValid();
        _configuration = configuration;
        _apiClient = new ApiClient.ApiClient(_configuration, httpClient);
    }

    {{#operations}}
    {{#operation}}
    /// <summary>
    /// {{summary}} {{notes}}
    /// </summary>
    /// <exception cref="{{packageName}}.Exceptions.ApiException">Thrown when fails to make API call</exception>
    {{#allParams}}
    /// <param name="{{paramName}}">{{description}}{{^required}} (optional{{#defaultValue}}, default to {{.}}{{/defaultValue}}){{/required}}{{#isDeprecated}} (deprecated){{/isDeprecated}}</param>
    {{/allParams}}
    /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
    /// <returns>Task of {{returnType}}{{^returnType}}void{{/returnType}}</returns>
    {{#isDeprecated}}
    [Obsolete]
    {{/isDeprecated}}
    {{#returnType}}public async Task<{{{.}}}>{{/returnType}}{{^returnType}}public async Task{{/returnType}} {{operationId}}({{#allParams}}{{{dataType}}} {{paramName}}{{^required}}{{#optionalMethodArgument}} = default({{{dataType}}}){{/optionalMethodArgument}}{{/required}}{{^-last}}, {{/-last}}{{/allParams}}{{#allParams.0}}, {{/allParams.0}}CancellationToken cancellationToken = default) {
        var pathParams = new Dictionary<string, string> {};
        {{#pathParams.0}}
        if (string.IsNullOrWhiteSpace(storeId)) {
            throw new FgaRequiredParamError("{{operationId}}", "StoreId");
        }
        {{/pathParams.0}}

        {{#pathParams}}
        if ({{paramName}} != null) {
            {{#isDateTime}}
            // call the specific date time stringify
            pathParams.Add("{{baseName}}", {{paramName}}?.ToString("0"));
            {{/isDateTime}}
            {{^isDateTime}}
            pathParams.Add("{{baseName}}", {{paramName}}.ToString());
            {{/isDateTime}}
        }
        {{/pathParams}}
        var queryParams = new Dictionary<string, string>();
        {{#queryParams}}
        if ({{paramName}} != null) {
            {{#isDateTime}}
            // call the specific date time stringify
            queryParams.Add("{{baseName}}", {{paramName}}?.ToString("O"));
            {{/isDateTime}}
            {{^isDateTime}}
            queryParams.Add("{{baseName}}", {{paramName}}.ToString());
            {{/isDateTime}}
        }
        {{/queryParams}}

        var requestBuilder = new RequestBuilder<{{#bodyParam}}{{{dataType}}}{{/bodyParam}}{{^bodyParam}}Any{{/bodyParam}}> {
            Method = new HttpMethod("{{httpMethod}}"),
            BasePath = _configuration.BasePath,
            PathTemplate = "{{path}}",
            PathParameters = pathParams,
            {{#bodyParam}}
            Body = {{paramName}},
            {{/bodyParam}}
            QueryParameters = queryParams,
        };

        {{#returnType}}return {{/returnType}}await _apiClient.SendRequestAsync{{#returnType}}<{{#bodyParam}}{{{dataType}}}{{/bodyParam}}{{^bodyParam}}Any{{/bodyParam}}, {{{.}}}>{{/returnType}}(requestBuilder,
            "{{operationId}}", cancellationToken);
    }

    {{/operation}}
    {{/operations}}

    public void Dispose() {
        _apiClient.Dispose();
    }
}
