{{>partial_header}}

#if NET6_0_OR_GREATER

namespace {{packageName}}.Exceptions;
#else
using System;

namespace {{packageName}}.Exceptions
{
#endif

/// <summary>
/// Base FGA Exception
/// </summary>
public class FgaError : Exception {
    /// <summary>
    /// Initializes a new instance of the <see cref="FgaError"/> class.
    /// </summary>
    public FgaError() : base() {
    }

    /// <inheritdoc />
    public FgaError(string message) : base(message) {
    }

    /// <inheritdoc />
    public FgaError(string message, Exception innerException) : base(message, innerException) {
    }
}
#if NETSTANDARD2_0
}
#endif
