{{>partial_header}}

#if NET6_0_OR_GREATER
using System.Runtime.Serialization;
using System.Text.Json;
using System.Text.Json.Serialization;
{{#validatable}}
using System.ComponentModel.DataAnnotations;
{{/validatable}}
#else
using System;
using System.Collections.Generic;
using System.ComponentModel;
using System.ComponentModel.DataAnnotations;
using System.Linq;
using System.Runtime.Serialization;
using System.Text.Json;
using System.Text.Json.Serialization;
#endif
{{#models}}
{{#model}}
{{#discriminator}}
using JsonSubTypes;
{{/discriminator}}
{{/model}}
{{/models}}
{{#models}}
{{#model}}
{{#oneOf}}
{{#-first}}
using System.Reflection;
{{/-first}}
{{/oneOf}}
{{#aneOf}}
{{#-first}}
using System.Reflection;
{{/-first}}
{{/aneOf}}

#if NET6_0_OR_GREATER
namespace {{packageName}}.{{modelPackage}};
#else
namespace {{packageName}}.{{modelPackage}}
{
#endif
{{#isEnum}}{{>modelEnum}}{{/isEnum}}{{^isEnum}}{{#oneOf}}{{#-first}}{{>modelOneOf}}{{/-first}}{{/oneOf}}{{#anyOf}}{{#-first}}{{>modelAnyOf}}{{/-first}}{{/anyOf}}{{^oneOf}}{{^anyOf}}{{>modelGeneric}}{{/anyOf}}{{/oneOf}}{{/isEnum}}
{{/model}}
{{/models}}
#if NETSTANDARD2_0
}
#endif
