{{>partial_header}}

using System;
using System.Collections.Generic;
using System.Linq;
{{#validatable}}
using System.ComponentModel.DataAnnotations;
{{/validatable}}
using System.Runtime.Serialization;
using System.Text.Json;
using System.Text.Json.Serialization;

{{#models}}
{{#model}}
{{#discriminator}}
using JsonSubTypes;
{{/discriminator}}
{{/model}}
{{/models}}
{{#models}}
{{#model}}
{{#oneOf}}
{{#-first}}
using System.Reflection;
{{/-first}}
{{/oneOf}}
{{#aneOf}}
{{#-first}}
using System.Reflection;
{{/-first}}
{{/aneOf}}

using OpenFga.Sdk.Constants;

namespace {{packageName}}.{{modelPackage}}
{
{{#isEnum}}{{>modelEnum}}{{/isEnum}}{{^isEnum}}{{#oneOf}}{{#-first}}{{>modelOneOf}}{{/-first}}{{/oneOf}}{{#anyOf}}{{#-first}}{{>modelAnyOf}}{{/-first}}{{/anyOf}}{{^oneOf}}{{^anyOf}}{{>modelGeneric}}{{/anyOf}}{{/oneOf}}{{/isEnum}}
{{/model}}
{{/models}}
}
