<Project Sdk="Microsoft.NET.Sdk">

  <PropertyGroup>
    <GenerateAssemblyInfo>false</GenerateAssemblyInfo>
    <TargetFramework{{#multiTarget}}s{{/multiTarget}}>{{targetFramework}}</TargetFramework{{#multiTarget}}s{{/multiTarget}}>
    <AssemblyName>{{packageName}}</AssemblyName>
    <PackageId>{{packageName}}</PackageId>
    <OutputType>Library</OutputType>
    <Authors>{{packageAuthors}}</Authors>
    <Company>{{packageCompany}}</Company>
    <AssemblyTitle>{{packageTitle}}</AssemblyTitle>
    <Description>{{packageDescription}}</Description>
    <Copyright>{{packageCopyright}}</Copyright>
    <RootNamespace>{{packageName}}</RootNamespace>
    <Version>{{packageVersion}}</Version>
    <DocumentationFile>bin\$(Configuration)\$(TargetFramework)\{{packageName}}.xml</DocumentationFile>{{#licenseId}}
    <PackageLicenseExpression>{{.}}</PackageLicenseExpression>{{/licenseId}}
    <PackageReadmeFile>README.md</PackageReadmeFile>
    <RepositoryUrl>https://{{{gitHost}}}/{{{gitUserId}}}/{{{gitRepoId}}}.git</RepositoryUrl>
    <RepositoryType>git</RepositoryType>
    <PackageReleaseNotes>https://{{{gitHost}}}/{{{gitUserId}}}/{{{gitRepoId}}}/blob/main/CHANGELOG.md</PackageReleaseNotes>
    <PackageTags>{{#packageTags}}{{.}}{{^-last}};{{/-last}}{{/packageTags}}</PackageTags>
    <PackageIcon>FGAIcon.png</PackageIcon>
    {{#nullableReferenceTypes}}
    <Nullable>annotations</Nullable>
    <Nullable>enable</Nullable>
    {{/nullableReferenceTypes}}
    <ImplicitUsings>enable</ImplicitUsings>
    <GeneratePackageOnBuild>true</GeneratePackageOnBuild>
  </PropertyGroup>

  <ItemGroup>
    <Folder Include="Models"/>
    <None Include="../../assets/FGAIcon.png" Pack="true" Visible="false" PackagePath=""/>
    <None Include="../../README.md" Pack="true" PackagePath=""/>
  </ItemGroup>

</Project>
