| Class        | Method                                                                        | HTTP request                                                   | Description                                                                                                                                    |
|--------------|-------------------------------------------------------------------------------|----------------------------------------------------------------|------------------------------------------------------------------------------------------------------------------------------------------------|
| *OpenFgaApi* | [**check**](docs/OpenFgaApi.md#check)                                         | **POST** /stores/{store_id}/check                              | Check whether a user is authorized to access an object                                                                                         |
| *OpenFgaApi* | [**create_store**](docs/OpenFgaApi.md#create_store)                           | **POST** /stores                                               | Create a store                                                                                                                                 |
| *OpenFgaApi* | [**delete_store**](docs/OpenFgaApi.md#delete_store)                           | **DELETE** /stores/{store_id}                                  | Delete a store                                                                                                                                 |
| *OpenFgaApi* | [**expand**](docs/OpenFgaApi.md#expand)                                       | **POST** /stores/{store_id}/expand                             | Expand all relationships in userset tree format, and following userset rewrite rules.  Useful to reason about and debug a certain relationship |
| *OpenFgaApi* | [**get_store**](docs/OpenFgaApi.md#get_store)                                 | **GET** /stores/{store_id}                                     | Get a store                                                                                                                                    |
| *OpenFgaApi* | [**list_objects**](docs/OpenFgaApi.md#list_objects)                           | **POST** /stores/{store_id}/list-objects                       | [EXPERIMENTAL] Get all object ids of the given type that the user has a relation with                                                          |
| *OpenFgaApi* | [**list_stores**](docs/OpenFgaApi.md#list_stores)                             | **GET** /stores                                                | List all stores                                                                                                                                |
| *OpenFgaApi* | [**read**](docs/OpenFgaApi.md#read)                                           | **POST** /stores/{store_id}/read                               | Get tuples from the store that matches a query, without following userset rewrite rules                                                        |
| *OpenFgaApi* | [**read_assertions**](docs/OpenFgaApi.md#read_assertions)                     | **GET** /stores/{store_id}/assertions/{authorization_model_id} | Read assertions for an authorization model ID                                                                                                  |
| *OpenFgaApi* | [**read_authorization_model**](docs/OpenFgaApi.md#read_authorization_model)   | **GET** /stores/{store_id}/authorization-models/{id}           | Return a particular version of an authorization model                                                                                          |
| *OpenFgaApi* | [**read_authorization_models**](docs/OpenFgaApi.md#read_authorization_models) | **GET** /stores/{store_id}/authorization-models                | Return all the authorization models for a particular store                                                                                     |
| *OpenFgaApi* | [**read_changes**](docs/OpenFgaApi.md#read_changes)                           | **GET** /stores/{store_id}/changes                             | Return a list of all the tuple changes                                                                                                         |
| *OpenFgaApi* | [**write**](docs/OpenFgaApi.md#write)                                         | **POST** /stores/{store_id}/write                              | Add or delete tuples from the store                                                                                                            |
| *OpenFgaApi* | [**write_assertions**](docs/OpenFgaApi.md#write_assertions)                   | **PUT** /stores/{store_id}/assertions/{authorization_model_id} | Upsert assertions for an authorization model ID                                                                                                |
| *OpenFgaApi* | [**write_authorization_model**](docs/OpenFgaApi.md#write_authorization_model) | **POST** /stores/{store_id}/authorization-models               | Create a new authorization model                                                                                                               |