To initialise the client, you need to have set the URL in application properties under `dev.openfga.kotlin.client.baseUrl`

You can then create the client like this:

```kotlin
import dev.openfga.kotlin.client.apis.OpenFgaApi

var client: OpenFgaApi = OpenFgaApi()
```

If you would like to authenticate against the client with an api token, it looks like this:

# TODO: SHOW API Auth

```kotlin
import dev.openfga.kotlin.client.apis.OpenFgaApi

var client: OpenFgaApi = OpenFgaApi()
```