{{>partial_header}}

namespace {{packageName}}.Client.Model;

public interface AuthorizationModelIdOptions {
    /// <summary>
    ///     Overrides the AuthorizationModelId in the ClientConfiguration
    /// </summary>
    string? AuthorizationModelId { get; set; }
}
