{{>partial_header}}

namespace {{packageName}}.Client.Model;

/// <summary>
///     ClientListStoresOptions - Client Options for ListStores
/// </summary>
public interface IClientListStoresOptions : ClientRequestOptions, ClientPaginationOptions {
}

/// <inheritdoc />
public class ClientListStoresOptions : IClientListStoresOptions {
    /// <inheritdoc />
    public int? PageSize { get; set; }

    /// <inheritdoc />
    public string? ContinuationToken { get; set; }
}
