{{>partial_header}}

#if NET6_0_OR_GREATER
using OpenFga.Sdk.Model;

namespace {{packageName}}.Client.Model;
#else
using System;
using System.Collections.Generic;
using System.ComponentModel.DataAnnotations;
using System.Linq;
using {{packageName}}.Model;
using OpenFga.Sdk.Model;

namespace {{packageName}}.Client.Model
{
#endif

public interface IClientConsistencyOptions {
    /// <summary>
    ///     ConsistencyPreference - Can be used to indicate preference for lower latency or higher consistency
    /// </summary>
    public ConsistencyPreference? Consistency { get; set; }
}

#if NETSTANDARD2_0
}
#endif
