{{>partial_header}}

using OpenFga.Sdk.Model;

namespace {{packageName}}.Client.Model;

public interface IClientCheckOptions : IClientRequestOptionsWithAuthZModelIdAndConsistency {
}

public class ClientCheckOptions : IClientCheckOptions {
    /// <inheritdoc />
    public string? StoreId { get; set; }

    /// <inheritdoc />
    public string? AuthorizationModelId { get; set; }

    /// <inheritdoc />
    public ConsistencyPreference? Consistency { get; set; }
}