{{>partial_header}}

using System.Collections.Generic;
using OpenFga.Sdk.Model;

namespace {{packageName}}.Client.Model;

public interface IClientListObjectsOptions : IClientRequestOptionsWithAuthZModelIdAndConsistency {
}

public class ClientListObjectsOptions : IClientListObjectsOptions {
    /// <inheritdoc />
    public string? StoreId { get; set; }

    /// <inheritdoc />
    public string? AuthorizationModelId { get; set; }

    /// <inheritdoc />
    public ConsistencyPreference? Consistency { get; set; }

    /// <inheritdoc />
    public Dictionary<string, string>? AdditionalHeaders { get; set; }
}