{{>partial_header}}

using System.Collections.Generic;
using OpenFga.Sdk.Model;

namespace {{packageName}}.Client.Model;

/// <summary>
///     ClientReadOptions - Client Options for Read
/// </summary>
public interface IClientReadOptions : IClientRequestOptionsWithStoreId, ClientPaginationOptions, IClientConsistencyOptions {
}

/// <inheritdoc />
public class ClientReadOptions : IClientReadOptions {
    /// <inheritdoc />
    public string? StoreId { get; set; }

    /// <inheritdoc />
    public int? PageSize { get; set; }

    /// <inheritdoc />
    public string? ContinuationToken { get; set; }

    /// <inheritdoc />
    public ConsistencyPreference? Consistency { get; set; }

    /// <inheritdoc />
    public Dictionary<string, string>? AdditionalHeaders { get; set; }
}
