{{>partial_header}}

#if NET6_0_OR_GREATER
using System.Runtime.Serialization;
using System.Text.Json.Serialization;
using {{packageName}}.Model;

namespace {{packageName}}.Client.Model;
#else
using System;
using System.Collections.Generic;
using System.ComponentModel.DataAnnotations;
using System.Linq;
using System.Runtime.Serialization;
using System.Text.Json.Serialization;
using {{packageName}}.Model;

namespace {{packageName}}.Client.Model
{
#endif

/// <summary>
///     ClientWriteStatus
/// </summary>
[JsonConverter(typeof(JsonStringEnumMemberConverter<ClientWriteStatus>))]
public enum ClientWriteStatus {
    /// <summary>
    ///     Enum SUCCESS for value: CLIENT_WRITE_STATUS_SUCCESS
    /// </summary>
    [EnumMember(Value = "CLIENT_WRITE_STATUS_SUCCESS")]
    SUCCESS = 1,

    /// <summary>
    ///     Enum FAILURE for value: CLIENT_WRITE_STATUS_FAILURE
    /// </summary>
    [EnumMember(Value = "CLIENT_WRITE_STATUS_FAILURE")]
    FAILURE = 2
}

#if NETSTANDARD2_0
}
#endif
