{{>partial_header}}

#if NET6_0_OR_GREATER
namespace {{packageName}}.Client.Model;
#else
using System;
using System.Collections.Generic;
using System.ComponentModel.DataAnnotations;
using System.Linq;

namespace {{packageName}}.Client.Model
{
#endif

/// <summary>
///     ClientListStoresOptions - Client Options for ListStores
/// </summary>
public interface IClientListStoresOptions : ClientRequestOptions, AuthorizationModelIdOptions, ClientPaginationOptions {
}

/// <inheritdoc />
public class ClientListStoresOptions : IClientListStoresOptions {

    /// <inheritdoc />
    public string? AuthorizationModelId { get; set; }

    /// <inheritdoc />
    public int? PageSize { get; set; }

    /// <inheritdoc />
    public string? ContinuationToken { get; set; }
}

#if NETSTANDARD2_0
}
#endif
