{{>partial_header}}

namespace {{packageName}}.Client.Model;

public interface IClientCreateStoreOptions : ClientRequestOptions {}

public class ClientCreateStoreOptions: IClientCreateStoreOptions
{
    /// <inheritdoc />
    public IDictionary<string, string>? Headers { get; set; }
}
