{{>partial_header}}

namespace {{packageName}}.Client.Model;

public class ClientBatchCheckOptions : IClientRequestOptionsWithAuthZModelId {

    /// <inheritdoc />
    public string? AuthorizationModelId { get; set; }
}
