{{>partial_header}}

#if NET6_0_OR_GREATER
namespace {{packageName}}.Client.Model;
#else
using System;
using System.Collections.Generic;
using System.ComponentModel.DataAnnotations;
using System.Linq;

namespace {{packageName}}.Client.Model
{
#endif

/// <summary>
///     ClientPaginationOptions - Pagination specific options
/// </summary>
public interface ClientPaginationOptions {
    /// <summary>
    ///     PageSize - The number of results to return in each page
    /// </summary>
    int? PageSize { get; set; }

    /// <summary>
    ///     ContinuationToken - The continuation token from the last response
    /// </summary>
    string? ContinuationToken { get; set; }
}

#if NETSTANDARD2_0
}
#endif
