{{>partial_header}}

using System.Collections.Generic;

namespace {{packageName}}.Client.Model;

public interface IClientCreateStoreOptions : IClientRequestOptions {}

public class ClientCreateStoreOptions : IClientCreateStoreOptions {
    /// <inheritdoc />
    public IDictionary<string, string>? Headers { get; set; }
}
