{{>partial_header}}

#if NET6_0_OR_GREATER
namespace {{packageName}}.Client.Model;
#else
using System;
using System.Collections.Generic;
using System.ComponentModel.DataAnnotations;
using System.Linq;

namespace {{packageName}}.Client.Model
{
#endif

/// <summary>
///     ClientReadChangesOptions - Client Options for ReadChanges
/// </summary>
public interface IClientReadChangesOptions : IClientRequestOptionsWithStoreId, ClientPaginationOptions {
}

/// <inheritdoc />
public class ClientReadChangesOptions : IClientReadChangesOptions {
    /// <inheritdoc />
    public string? StoreId { get; set; }

    /// <inheritdoc />
    public int? PageSize { get; set; }

    /// <inheritdoc />
    public string? ContinuationToken { get; set; }
}

#if NETSTANDARD2_0
}
#endif
