{{>partial_header}}

using OpenFga.Sdk.Model;

namespace {{packageName}}.Client.Model;

public class ClientListRelationsOptions : IClientBatchCheckOptions {
    /// <inheritdoc />
    public string? StoreId { get; set; }

    /// <inheritdoc />
    public string? AuthorizationModelId { get; set; }

    /// <summary>
    ///     Max Requests to issue in parallel
    /// </summary>
    public int? MaxParallelRequests { get; set; }

    /// <inheritdoc />
    public ConsistencyPreference? Consistency { get; set; }    
}
