{{>partial_header}}

using System.Collections.Generic;

namespace {{packageName}}.Client.Model;

/// <summary>
///     ClientReadAuthorizationModelsOptions - Client Options for ReadAuthorizationModels
/// </summary>
public interface IClientReadAuthorizationModelsOptions : IClientRequestOptionsWithStoreId, ClientPaginationOptions {
}

/// <inheritdoc />
public class ClientReadAuthorizationModelsOptions : IClientReadAuthorizationModelsOptions {
    /// <inheritdoc />
    public string? StoreId { get; set; }

    /// <inheritdoc />
    public int? PageSize { get; set; }

    /// <inheritdoc />
    public string? ContinuationToken { get; set; }

    /// <inheritdoc />
    public Dictionary<string, string>? AdditionalHeaders { get; set; }
}
