{{>partial_header}}

namespace {{packageName}}.Client.Model;

public class ClientCheckOptions : IClientRequestOptionsWithAuthZModelId {
    /// <inheritdoc />
    public string? StoreId { get; set; }

    /// <inheritdoc />
    public string? AuthorizationModelId { get; set; }
}
