{{>partial_header}}

using {{packageName}}.Model;
using System.Collections.Generic;

namespace {{packageName}}.Client.Model;

/// <summary>
///     ConflictOptions - Controls behavior for duplicate writes and missing deletes
/// </summary>
public interface IConflictOptions {
    /// <summary>
    ///     Controls behavior when writing a tuple that already exists
    /// </summary>
    WriteRequestWrites.OnDuplicateEnum? OnDuplicateWrites { get; set; }

    /// <summary>
    ///     Controls behavior when deleting a tuple that doesn't exist
    /// </summary>
    WriteRequestDeletes.OnMissingEnum? OnMissingDeletes { get; set; }
}

public class ConflictOptions : IConflictOptions {
    /// <summary>
    ///     Controls behavior when writing a tuple that already exists
    /// </summary>
    public WriteRequestWrites.OnDuplicateEnum? OnDuplicateWrites { get; set; }

    /// <summary>
    ///     Controls behavior when deleting a tuple that doesn't exist
    /// </summary>
    public WriteRequestDeletes.OnMissingEnum? OnMissingDeletes { get; set; }
}

/// <summary>
///     TransactionOpts
/// </summary>
public interface ITransactionOpts {
    /// <summary>
    ///     Disables full transaction mode (note: if MaxPerChunk > 1, each chunk will be a transaction)
    /// </summary>
    bool Disable { get; set; }

    /// <summary>
    ///     Max number of items to send in a single request (transaction)
    /// </summary>
    int? MaxPerChunk { get; set; }

    /// <summary>
    ///     Max Requests to issue in parallel
    /// </summary>
    int? MaxParallelRequests { get; set; }
}

public class TransactionOptions : ITransactionOpts {
    /// <summary>
    ///     Disables full transaction mode (note: if MaxPerChunk > 1, each chunk will be a transaction)
    /// </summary>
    public bool Disable { get; set; }

    /// <summary>
    ///     Max number of items to send in a single request (transaction)
    /// </summary>
    public int? MaxPerChunk { get; set; }

    /// <summary>
    ///     Max Requests to issue in parallel
    /// </summary>
    public int? MaxParallelRequests { get; set; }
}

public interface IClientWriteOptions : IClientRequestOptionsWithAuthZModelId {
    ITransactionOpts Transaction { get; set; }
    IConflictOptions? Conflict { get; set; }
}

public class ClientWriteOptions : IClientWriteOptions {
    /// <inheritdoc />
    public string? StoreId { get; set; }

    /// <summary>
    ///     Override the Authorization Model ID for this request
    /// </summary>
    public string? AuthorizationModelId { get; set; }

    /// <inheritdoc />
    public ITransactionOpts Transaction { get; set; }

    /// <inheritdoc />
    public IConflictOptions? Conflict { get; set; }

    /// <inheritdoc />
    public IDictionary<string, string>? Headers { get; set; }
}
