{{>partial_header}}

#if NET6_0_OR_GREATER
namespace {{packageName}}.Client.Model;
#else
using System;
using System.Collections.Generic;
using System.ComponentModel.DataAnnotations;
using System.Linq;

namespace {{packageName}}.Client.Model
{
#endif

public interface StoreIdOptions {
    /// <summary>
    ///     Overrides the StoreId in the ClientConfiguration
    /// </summary>
    string? StoreId { get; set; }
}

#if NETSTANDARD2_0
}
#endif
