{{>partial_header}}
package internalutils

import (
	_math "math"
	_rand "math/rand"
)

// RandomTime provides a randomized time
func RandomTime(loopCount int, minWaitInMs int) int{
    min := int(_math.Pow(2, float64(loopCount))) * minWaitInMs;
    max := int(_math.Pow(2, float64(loopCount + 1))) * minWaitInMs;
    return _rand.Intn(max - min + 1) + min
}
