{{>partial_header}}
package internalutils

import (
	"regexp"
)

// cUlidRe contains the regex for valid ULID
var cUlidRe = regexp.MustCompile("^[0-7][0-9A-HJKMNP-TV-Z]{25}$")

// IsWellFormedUlidString returns whethr the ulidString is a properly formatted ulid string
func IsWellFormedUlidString(ulidString string) bool {
	return cUlidRe.MatchString(ulidString)
}

