{{>partial_header}}

from {{packageName}}.client.models.batch_check_single_response import ClientBatchCheckSingleResponse

class ClientBatchCheckResponse:
    def __init__(self, result: list[ClientBatchCheckSingleResponse]):
        self._result = result

    @property
    def result(self):
        """
        Return result
        """
        return self._result

    @result.setter
    def result(self, result):
        """
        Set result
        """
        self._result = result
