# flake8: noqa

{{>partial_header}}

# import openfga client + configurations
from {{packageName}}.client.openfga_client import OpenFgaClient
from {{packageName}}.client.configuration import ClientConfiguration
from {{packageName}}.client.check_request_body import CheckRequestBody