version: 3

server: https://app.fossa.com

project:
  id: {{gitHost}}/{{gitUserId}}/{{gitRepoId}}
  name: {{gitHost}}/{{gitUserId}}/{{gitRepoId}}
  link: openfga.dev
  url: {{gitHost}}/{{gitUserId}}/{{gitRepoId}}
