# {{packageDescription}}

{{#fossaProjectId}}
[![FOSSA Status](https://app.fossa.com/api/projects/{{{.}}}.svg?type=shield)](https://app.fossa.com/projects/{{{.}}}?ref=badge_shield)
{{/fossaProjectId}}

{{#packageDetailedDescription}}
{{{.}}}
{{/packageDetailedDescription}}

Warning: This SDK comes with no SLAs and is not production-ready!

## Table of Contents

- [About {{appLongName}}](#about)
- [Resources](#resources)
- [Installation](#installation)
- [Getting Started](#getting-started)
  - [Initializing the API Client](#initializing-the-api-client)
  - [Getting your Store ID, Client ID and Client Secret](#getting-your-store-id-client-id-and-client-secret)
  - [Calling the API](#calling-the-api)
    - [Write Authorization Model](#write-authorization-model)
    - [Read a Single Authorization Model](#read-a-single-authorization-model)
    - [Read Authorization Model IDs](#read-authorization-model-ids)
    - [Check](#check)
    - [Write Tuples](#write-tuples)
    - [Delete Tuples](#delete-tuples)
    - [Expand](#expand)
    - [Read](#read)
    - [Read Changes (Watch)](#read-changes-watch)
  - [API Endpoints](#api-endpoints)
  - [Models](#models)
- [Contributing](#contributing)
  - [Issues](#issues)
  - [Pull Requests](#pull-requests) [Note: We are not accepting Pull Requests at this time!]
- [License](#license)

## <a id="about"></a>About {{appLongName}}

{{>README_project_introduction}}

## Resources

{{#docsUrl}}
- [{{appName}} Documentation]({{docsUrl}})
{{/docsUrl}}
{{#apiDocsUrl}}
- [{{appName}} API Documentation]({{apiDocsUrl}})
{{/apiDocsUrl}}
{{#twitterUrl}}
- [Twitter]({{twitterUrl}})
{{/twitterUrl}}
{{#redditUrl}}
- [{{appName}} Subreddit]({{redditUrl}})
{{/redditUrl}}
{{#discordUrl}}
- [{{appName}} Discord Community]({{discordUrl}})
{{/discordUrl}}
- [Zanzibar Academy](https://zanzibar.academy)
- [Google's Zanzibar Paper (2019)](https://research.google/pubs/pub48190/)

## Installation

{{>README_installation}}

## Getting Started

### Initializing the API Client

[Learn how to initialize your SDK]({{docsUrl}}/getting-started/setup-sdk-client)

{{>README_initializing}}

### Get your Store ID and optional credentials

You need your store id to call the {{appName}} API (unless it is to create a store or list all stores). You may also configure your credentials if your service requires it.

### Calling the API

{{>README_calling_api}}

### API Endpoints

{{>README_api_endpoints}}

### Models

{{>README_models}}

## Contributing

### Issues

If you have found a bug or if you have a feature request, please report them at this repository [issues](https://{{gitHost}}/{{gitUserId}}/{{gitRepoId}}/issues) section. Please do not report security vulnerabilities on the public GitHub issue tracker.

### Pull Requests

Pull Requests are not currently open, please [raise an issue](https://{{gitHost}}/{{gitUserId}}/{{gitRepoId}}/issues) or contact a team member on {{supportInfo}} if there is a feature you'd like us to implement.

## Author

[{{author}}](https://{{gitHost}}/{{gitUserId}})

## License

This project is licensed under the {{licenseId}} license. See the [LICENSE](https://{{gitHost}}/{{gitUserId}}/{{gitRepoId}}/blob/main/LICENSE) file for more info.

{{>README_license_disclaimer}}
