{{>licenseInfo}}
package {{utilPackage}};

import static {{utilPackage}}.StringUtil.isNullOrWhitespace;
import {{errorsPackage}}.FgaInvalidParameterException;

public class Validation {
    private Validation() {} // Instantiation prevented for utility class.

    public static void assertParamExists(Object obj, String name, String context) throws FgaInvalidParameterException {
        if (obj == null || obj instanceof String && isNullOrWhitespace((String) obj)) {
            throw new FgaInvalidParameterException(name, context);
        }
    }
}
