# coding: utf-8
{{>partial_header}}

class ClientAssertion():
    """
    ClientAssertion flattens the input necessary for an Assertion
    """

    def __init__(self, user: str, relation: str, object: str, expectation: bool):
        self._user = user
        self._relation = relation
        self._object = object
        self._expectation = expectation

    @property
    def user(self):
        """
        Return user
        """
        return self._user

    @property
    def relation(self):
        """
        Return relation
        """
        return self._relation

    @property
    def object(self):
        """
        Return object
        """
        return self._object

    @property
    def expectation(self):
        """
        Return expectation
        """
        return self._expectation
