{{>partial_header}}

class ClientReadChangesRequest:
    """
    ClientReadChangesRequest encapsulates the parameters required to read changes
    """

    def __init__(self, type: str):
        self._type = type

    @property
    def type(self):
        """
        Return type
        """
        return self._type
