{
  "tree": {
    "root": {
      "name": "document:1#writer",
      "union": {
        "nodes": [
          {
            "name": "document:1#writer",
            "leaf": {
              "users": {
                "users": []
              }
            }
          },
          {
            "name": "document:1#writer",
            "leaf": {
              "tupleToUserset": {
                "tupleset": "document:1#parent",
                "computed": [
                  {
                    "userset": "folder:1#owner"
                  }
                ]
              }
            }
          }
        ]
      }
    }
  }
}