{{>partial_header}}

from setuptools import find_packages, setup

NAME = "openfga-opentelemetry-example"
VERSION = "0.0.1"
REQUIRES = [""]

setup(
    name=NAME,
    version=VERSION,
    description="An example of using the OpenFGA Python SDK with OpenTelemetry",
    author="OpenFGA (https://openfga.dev)",
    author_email="community@openfga.dev",
    url="https://github.com/openfga/python-sdk",
    python_requires=">={{pythonMinimumRuntime}}",
    packages=find_packages(exclude=["test", "tests"]),
    include_package_data=True,
    license="Apache-2.0",
)
