{{>partial_header}}

{{^withSeparateModelsAndApi}}
import globalAxios, { AxiosStatic } from 'axios';

import { BaseAPI } from './base';
import {
    DUMMY_BASE_URL,
    setSearchParams,
    serializeDataIfNeeded,
    toPathString,
    createRequestFunction,
    RequestArgs,
    PromiseResult
} from './common';
import { Configuration } from './configuration';
import { Credentials } from "./credentials";
import { assertParamExists } from './validation';

import {
{{#models}}
  {{#model}}{{classname}},{{/model}}
{{/models}}
} from './apiModel';

{{#apiInfo}}{{#apis}}
{{>apiInner}}
{{/apis}}{{/apiInfo}}
{{/withSeparateModelsAndApi}}{{#withSeparateModelsAndApi}}
{{#apiInfo}}{{#apis}}{{#operations}}export * from './{{tsApiPackage}}/{{classFilename}}';
{{/operations}}{{/apis}}{{/apiInfo}}
{{/withSeparateModelsAndApi}}
