/* tslint:disable */
/* eslint-disable */
{{>partial_header}}

{{^withSeparateModelsAndApi}}
import globalAxios, { AxiosPromise, AxiosStatic } from 'axios';

import { COLLECTION_FORMATS, BaseAPI } from './base';
import {
    DUMMY_BASE_URL,
    setBearerAuthToObject,
    setSearchParams,
    serializeDataIfNeeded,
    toPathString,
    createRequestFunction,
    RequestArgs,
    PromiseResult
} from './common';
import { Configuration } from './configuration';
import { assertParamExists } from './validation';

// default maximum number of retry
const cDefaultMaxRetry = {{{defaultMaxRetry}}};
// default minimum wait period in retry - but will backoff exponentially
const cDefaultMinWaitMs = {{{defaultMinWaitInMs}}};

import {
{{#models}}
  {{#model}}{{classname}},{{/model}}
{{/models}}
} from './apiModel'

{{#apiInfo}}{{#apis}}
{{>apiInner}}
{{/apis}}{{/apiInfo}}
{{/withSeparateModelsAndApi}}{{#withSeparateModelsAndApi}}
{{#apiInfo}}{{#apis}}{{#operations}}export * from './{{tsApiPackage}}/{{classFilename}}';
{{/operations}}{{/apis}}{{/apiInfo}}
{{/withSeparateModelsAndApi}}
