{{#operations}}
/**
 * {{classname}} - functional programming interface{{#description}}
 * {{{description}}}{{/description}}
 * @export
 */
export const {{classname}}Fp = function(configuration: Configuration, credentials: Credentials) {
    const api = {
    {{#operation}}
    {{^vendorExtensions.x-streaming}}
        /**
         * {{&notes}}
         {{#summary}}
         * @summary {{&summary}}
         {{/summary}}
         {{#allParams}}
         * @param {{=<% %>=}}{<%&dataType%>}<%={{ }}=%> {{^required}}[{{/required}}{{paramName}}{{^required}}]{{/required}}{{#description}} {{description}}{{/description}}
         {{/allParams}}
         * @param {*} [options] Override http request option.{{#isDeprecated}}
         * @deprecated{{/isDeprecated}}
         * @throws { FgaError }
         */
        async {{nickname}}({{#allParams}}{{paramName}}{{^required}}?{{/required}}: {{{dataType}}}, {{/allParams}}options?: any): Promise<(axios?: AxiosInstance) => PromiseResult<{{#returnType}}{{{returnType}}}{{/returnType}}{{^returnType}}void{{/returnType}}>> {
    {{#allParams}}
    {{#required}}
            assertParamExists("{{nickname}}", "{{paramName}}", {{paramName}});
    {{/required}}
    {{/allParams}}
            return api.executeApiRequest<{{#returnType}}{{{returnType}}}{{/returnType}}{{^returnType}}void{{/returnType}}>({
                operationName: "{{operationIdCamelCase}}",
                method: "{{httpMethod}}",
                path: "{{{path}}}",
    {{#hasPathParams}}
                pathParams: { {{#pathParams}}{{baseName}}: {{paramName}}{{^-last}}, {{/-last}}{{/pathParams}} },
    {{/hasPathParams}}
    {{#hasQueryParams}}
                queryParams: { {{#queryParams}}{{baseName}}: {{paramName}}{{^-last}}, {{/-last}}{{/queryParams}} },
    {{/hasQueryParams}}
    {{#bodyParam}}
                body,
    {{/bodyParam}}
            }, options);
        },
    {{/vendorExtensions.x-streaming}}
    {{#vendorExtensions.x-streaming}}
        /**
       * The Streamed ListObjects API is very similar to the ListObjects API, with two differences:
       * 1. Instead of collecting all objects before returning a response, it streams them to the client as they are collected.
       * 2. The number of results returned is only limited by the execution timeout specified in the flag OPENFGA_LIST_OBJECTS_DEADLINE.
       * @summary Stream all objects of the given type that the user has a relation with
         {{#allParams}}
       * @param {{=<% %>=}}{<%&dataType%>}<%={{ }}=%> {{^required}}[{{/required}}{{paramName}}{{^required}}]{{/required}}{{#description}} {{description}}{{/description}}
         {{/allParams}}
       * @param {*} [options] Override http request option.
       * @throws { FgaError }
       */
        async {{nickname}}({{#allParams}}{{paramName}}{{^required}}?{{/required}}: {{{dataType}}}, {{/allParams}}options?: any): Promise<(axios?: AxiosInstance) => Promise<any>> {
    {{#allParams}}
    {{#required}}
            assertParamExists("{{nickname}}", "{{paramName}}", {{paramName}});
    {{/required}}
    {{/allParams}}
            return api.executeStreamedApiRequest({
                operationName: "{{operationIdCamelCase}}",
                method: "{{httpMethod}}",
                path: "{{{path}}}",
    {{#hasPathParams}}
                pathParams: { {{#pathParams}}{{baseName}}: {{paramName}}{{^-last}}, {{/-last}}{{/pathParams}} },
    {{/hasPathParams}}
    {{#hasQueryParams}}
                queryParams: { {{#queryParams}}{{baseName}}: {{paramName}}{{^-last}}, {{/-last}}{{/queryParams}} },
    {{/hasQueryParams}}
    {{#bodyParam}}
                body,
    {{/bodyParam}}
            }, options);
        },
    {{/vendorExtensions.x-streaming}}
    {{/operation}}
        /**
         * Make a raw HTTP request to an arbitrary API endpoint.
         * This method provides an escape hatch for calling new or experimental endpoints
         * that may not yet have dedicated SDK methods.
         * @summary Make a raw HTTP request
         * @param {RequestBuilderParams} request - The request parameters
         * @param {RequestBuilderOptions} [options] Override http request option.
         * @throws { FgaError }
         */
        async executeApiRequest<T extends object | void = object>(request: RequestBuilderParams, options?: RequestBuilderOptions): Promise<(axios?: AxiosInstance) => PromiseResult<T>> {
            const localVarAxiosArgs = RequestBuilder(request, { ...configuration.baseOptions, ...options });
            return createRequestFunction(localVarAxiosArgs, globalAxios, configuration, credentials, {
                [TelemetryAttribute.FgaClientRequestMethod]: request.operationName,
                [TelemetryAttribute.FgaClientRequestStoreId]: request.pathParams?.["store_id"] ?? "",
                ...TelemetryAttributes.fromRequestBody(request.body),
            });
        },
{{#supportsStreamedListObjects}}
        async executeStreamedApiRequest(request: RequestBuilderParams, options?: RequestBuilderOptions): Promise<(axios?: AxiosInstance) => PromiseResult<any>> {
            const localVarAxiosArgs = RequestBuilder(request, { ...configuration.baseOptions, ...options });
            return createStreamingRequestFunction(localVarAxiosArgs, globalAxios, configuration, credentials, {
                [TelemetryAttribute.FgaClientRequestMethod]: request.operationName,
                [TelemetryAttribute.FgaClientRequestStoreId]: request.pathParams?.["store_id"] ?? "",
                ...TelemetryAttributes.fromRequestBody(request.body),
            });
        },
{{/supportsStreamedListObjects}}
    };
    return api;
};

/**
 * {{classname}} - factory interface{{#description}}
 * {{&description}}{{/description}}
 * @export
 */
export const {{classname}}Factory = function (configuration: Configuration, credentials: Credentials, axios?: AxiosInstance) {
    const localVarFp = {{classname}}Fp(configuration, credentials);
    return {
    {{#operation}}
    {{^vendorExtensions.x-streaming}}
        /**
         * {{&notes}}
         {{#summary}}
         * @summary {{&summary}}
         {{/summary}}
         {{#allParams}}
         * @param {{=<% %>=}}{<%&dataType%>}<%={{ }}=%> {{^required}}[{{/required}}{{paramName}}{{^required}}]{{/required}}{{#description}} {{description}}{{/description}}
         {{/allParams}}
         * @param {*} [options] Override http request option.{{#isDeprecated}}
         * @deprecated{{/isDeprecated}}
         * @throws { FgaError }
         */
        {{nickname}}({{#allParams}}{{paramName}}{{^required}}?{{/required}}: {{{dataType}}}, {{/allParams}}options?: any): PromiseResult<{{#returnType}}{{{returnType}}}{{/returnType}}{{^returnType}}void{{/returnType}}> {
            return localVarFp.{{nickname}}({{#allParams}}{{paramName}}, {{/allParams}}options).then((request) => request(axios));
        },
    {{/vendorExtensions.x-streaming}}
    {{#vendorExtensions.x-streaming}}
        /**
       * The Streamed ListObjects API is very similar to the ListObjects API, with two differences:
       * 1. Instead of collecting all objects before returning a response, it streams them to the client as they are collected.
       * 2. The number of results returned is only limited by the execution timeout specified in the flag OPENFGA_LIST_OBJECTS_DEADLINE.
       * @summary Stream all objects of the given type that the user has a relation with
         {{#allParams}}
       * @param {{=<% %>=}}{<%&dataType%>}<%={{ }}=%> {{^required}}[{{/required}}{{paramName}}{{^required}}]{{/required}}{{#description}} {{description}}{{/description}}
         {{/allParams}}
       * @param {*} [options] Override http request option.
       * @throws { FgaError }
       */
        {{nickname}}({{#allParams}}{{paramName}}{{^required}}?{{/required}}: {{{dataType}}}, {{/allParams}}options?: any): Promise<any> {
            return localVarFp.{{nickname}}({{#allParams}}{{paramName}}, {{/allParams}}options).then((request) => request(axios));
        },
    {{/vendorExtensions.x-streaming}}
    {{/operation}}
        /**
         * Make a raw HTTP request to an arbitrary API endpoint.
         * This method provides an escape hatch for calling new or experimental endpoints
         * that may not yet have dedicated SDK methods.
         * @summary Make a raw HTTP request
         * @param {RequestBuilderParams} request - The request parameters
         * @param {*} [options] Override http request option.
         * @throws { FgaError }
         */
        executeApiRequest<T extends object | void = object>(request: RequestBuilderParams, options?: any): PromiseResult<T> {
            return localVarFp.executeApiRequest<T>(request, options).then((request) => request(axios));
        },
{{#supportsStreamedListObjects}}
        executeStreamedApiRequest(request: RequestBuilderParams, options?: any): Promise<any> {
            return localVarFp.executeStreamedApiRequest(request, options).then((request) => request(axios));
        },
{{/supportsStreamedListObjects}}
    };
};

/**
 * {{classname}} - object-oriented interface{{#description}}
 * {{{description}}}{{/description}}
 * @export
 * @class {{classname}}
 * @extends {BaseAPI}
 */
export class {{classname}} extends BaseAPI {
    {{#operation}}
    {{^vendorExtensions.x-streaming}}
    /**
     * {{&notes}}
     {{#summary}}
     * @summary {{&summary}}
     {{/summary}}
     {{#allParams}}
     * @param {{=<% %>=}}{<%&dataType%>}<%={{ }}=%> {{^required}}[{{/required}}{{paramName}}{{^required}}]{{/required}}{{#description}} {{description}}{{/description}}
     {{/allParams}}
     * @param {*} [options] Override http request option.{{#isDeprecated}}
     * @deprecated{{/isDeprecated}}
     * @throws { FgaError }
     * @memberof {{classname}}
     */
    public {{nickname}}({{#allParams}}{{paramName}}{{^required}}?{{/required}}: {{{dataType}}}, {{/allParams}}options?: any): Promise<CallResult<{{#returnType}}{{{returnType}}}{{/returnType}}{{^returnType}}void{{/returnType}}>> {
        return {{classname}}Fp(this.configuration, this.credentials).{{nickname}}({{#allParams}}{{paramName}}, {{/allParams}}options).then((request) => request(this.axios));
    }

    {{/vendorExtensions.x-streaming}}
    {{#vendorExtensions.x-streaming}}
    /**
     * The Streamed ListObjects API is very similar to the ListObjects API, with two differences:
     * 1. Instead of collecting all objects before returning a response, it streams them to the client as they are collected.
     * 2. The number of results returned is only limited by the execution timeout specified in the flag OPENFGA_LIST_OBJECTS_DEADLINE.
     * @summary Stream all objects of the given type that the user has a relation with
     {{#allParams}}
     * @param {{=<% %>=}}{<%&dataType%>}<%={{ }}=%> {{^required}}[{{/required}}{{paramName}}{{^required}}]{{/required}}{{#description}} {{description}}{{/description}}
     {{/allParams}}
     * @param {*} [options] Override http request option.
     * @throws { FgaError }
     */
    public {{nickname}}({{#allParams}}{{paramName}}{{^required}}?{{/required}}: {{{dataType}}}, {{/allParams}}options?: any): Promise<any> {
        return {{classname}}Fp(this.configuration, this.credentials).{{nickname}}({{#allParams}}{{paramName}}, {{/allParams}}options).then((request) => request(this.axios));
    }

    {{/vendorExtensions.x-streaming}}
    {{/operation}}
    /**
     * Make a raw HTTP request to an arbitrary API endpoint.
     * This method provides an escape hatch for calling new or experimental endpoints
     * that may not yet have dedicated SDK methods.
     * @summary Make a raw HTTP request
     * @param {RequestBuilderParams} request - The request parameters
     * @param {RequestBuilderOptions} [options] Override http request option.
     * @throws { FgaError }
     * @memberof {{classname}}
     */
    public executeApiRequest<T extends object | void = object>(request: RequestBuilderParams, options?: any): Promise<CallResult<T>> {
        return {{classname}}Fp(this.configuration, this.credentials).executeApiRequest<T>(request, options).then((request) => request(this.axios));
    }
{{#supportsStreamedListObjects}}

    /**
     * Make a raw HTTP request to an arbitrary streaming API endpoint.
     * This method provides an escape hatch for calling new or experimental endpoints
     * that may not yet have dedicated SDK methods.
     * @summary Make a raw HTTP request
     * @param {RequestBuilderParams} request - The request parameters
     * @param {RequestBuilderOptions} [options] Override http request option.
     * @throws { FgaError }
     * @memberof {{classname}}
     */
    public executeStreamedApiRequest(request: RequestBuilderParams, options?: any): Promise<CallResult<any>> {
        return {{classname}}Fp(this.configuration, this.credentials).executeStreamedApiRequest(request, options).then((request) => request(this.axios));
    }
{{/supportsStreamedListObjects}}
}
{{/operations}}

