| Method | HTTP request | Description |
| ------------- | ------------- | ------------- |
| [**ListStores**]({{apiDocsUrl}}#/Stores/ListStores) | **GET** /stores | List all stores |
| [**CreateStore**]({{apiDocsUrl}}#/Stores/CreateStore) | **POST** /stores | Create a store |
| [**GetStore**]({{apiDocsUrl}}#/Stores/GetStore) | **GET** /stores/{store_id} | Get a store |
| [**DeleteStore**]({{apiDocsUrl}}#/Stores/DeleteStore) | **DELETE** /stores/{store_id} | Delete a store |
| [**ReadAuthorizationModels**]({{apiDocsUrl}}#/Authorization%20Models/ReadAuthorizationModels) | **GET** /stores/{store_id}/authorization-models | Return all the authorization models for a particular store |
| [**WriteAuthorizationModel**]({{apiDocsUrl}}#/Authorization%20Models/WriteAuthorizationModel) | **POST** /stores/{store_id}/authorization-models | Create a new authorization model |
| [**ReadAuthorizationModel**]({{apiDocsUrl}}#/Authorization%20Models/ReadAuthorizationModel) | **GET** /stores/{store_id}/authorization-models/{id} | Return a particular version of an authorization model |
| [**ReadChanges**]({{apiDocsUrl}}#/Relationship%20Tuples/ReadChanges) | **GET** /stores/{store_id}/changes | Return a list of all the tuple changes |
| [**Read**]({{apiDocsUrl}}#/Relationship%20Tuples/Read) | **POST** /stores/{store_id}/read | Get tuples from the store that matches a query, without following userset rewrite rules |
| [**Write**]({{apiDocsUrl}}#/Relationship%20Tuples/Write) | **POST** /stores/{store_id}/write | Add or delete tuples from the store |
| [**Check**]({{apiDocsUrl}}#/Relationship%20Queries/Check) | **POST** /stores/{store_id}/check | Check whether a user is authorized to access an object |
| [**BatchCheck**]({{apiDocsUrl}}#/Relationship%20Queries/BatchCheck) | **POST** /stores/{store_id}/batch-check | Similar to check, but accepts a list of relations to check |
| [**Expand**]({{apiDocsUrl}}#/Relationship%20Queries/Expand) | **POST** /stores/{store_id}/expand | Expand all relationships in userset tree format, and following userset rewrite rules.  Useful to reason about and debug a certain relationship |
| [**ListObjects**]({{apiDocsUrl}}#/Relationship%20Queries/ListObjects) | **POST** /stores/{store_id}/list-objects | [EXPERIMENTAL] Get all objects of the given type that the user has a relation with |
| [**ReadAssertions**]({{apiDocsUrl}}#/Assertions/ReadAssertions) | **GET** /stores/{store_id}/assertions/{authorization_model_id} | Read assertions for an authorization model ID |
| [**WriteAssertions**]({{apiDocsUrl}}#/Assertions/WriteAssertions) | **PUT** /stores/{store_id}/assertions/{authorization_model_id} | Upsert assertions for an authorization model ID |
