Without an API Token

```javascript
const { {{appShortName}}Api } = require('{{packageName}}'); // OR import { {{appShortName}}Api } from '{{packageName}}';

const {{appCamelCaseName}} = new {{appShortName}}Api({
  apiScheme: {{appUpperCaseName}}_API_SCHEME, // optional, defaults to "https"
  apiHost: {{appUpperCaseName}}_API_HOST, // required, define without the scheme (e.g. api.fga.example instead of https://api.fga.example)
  storeId: {{appUpperCaseName}}_STORE_ID,
});
```

With an API Token

```javascript
const { {{appShortName}}Api } = require('{{packageName}}'); // OR import { {{appShortName}}Api } from '{{packageName}}';

const {{appCamelCaseName}} = new {{appShortName}}Api({
  apiScheme: {{appUpperCaseName}}_API_SCHEME, // optional, defaults to "https"
  apiHost: {{appUpperCaseName}}_API_HOST, // required, define without the scheme (e.g. api.fga.example instead of https://api.fga.example)
  storeId: {{appUpperCaseName}}_STORE_ID,
  credentials: {
    method: CredentialsMethod.ApiToken,
    config: {
      token: {{appUpperCaseName}}_API_TOKEN,
    }
  }
});
```
