{{>partial_header}}

package constants

const (
    // SdkVersion is the version of this service
    SdkVersion = "{{packageVersion}}"

    // UserAgent is the user agent used in HTTP requests
    UserAgent = "{{userAgent}}"

    // SampleBaseDomain is the sample API Domain
    SampleBaseDomain = "{{sampleApiDomain}}"

    // RetryMaxAllowedNumber is the maximum allowed number of retries for HTTP requests
    RetryMaxAllowedNumber = {{retryMaxAllowedNumber}}

    // DefaultMaxRetry is the default maximum number of retries for HTTP requests
    DefaultMaxRetry = {{defaultMaxRetry}}

    // DefaultMinWaitInMs is the default minimum wait time between retries in milliseconds
    DefaultMinWaitInMs = {{defaultMinWaitInMs}}

    // MaxBackoffTimeInSec is the maximum backoff time in seconds
    MaxBackoffTimeInSec = {{maxBackoffTimeInSec}}

    // RetryHeaderMaxAllowableDurationInSec is the maximum allowable duration for retry headers in seconds
    RetryHeaderMaxAllowableDurationInSec = {{retryHeaderMaxAllowableDurationInSec}}

    // ClientMaxMethodParallelRequests is the maximum number of parallel requests for a single method
    ClientMaxMethodParallelRequests = {{clientMaxMethodParallelRequests}}

    // ClientMaxBatchSize is the maximum batch size for batch requests
    ClientMaxBatchSize = {{clientMaxBatchSize}}

    // DefaultConnectionTimeoutInMs is the default connection timeout in milliseconds
    DefaultConnectionTimeoutInMs = {{defaultConnectionTimeoutInMs}}

    // TokenExpiryThresholdBufferInSec is the buffer time in seconds before token expiry to consider it expired
    TokenExpiryThresholdBufferInSec = {{tokenExpiryThresholdBufferInSec}}

    // TokenExpiryJitterInSec is the jitter time in seconds to add randomness to token expiry checks
    TokenExpiryJitterInSec = {{tokenExpiryJitterInSec}}

    // ClientMethodHeader is the header used to identify the client method
    ClientMethodHeader = "{{clientMethodHeader}}"

    // ClientBulkRequestIdHeader is the header used to identify bulk request IDs
    ClientBulkRequestIdHeader = "{{clientBulkRequestIdHeader}}"

    // RetryAfterHeaderName is the standard HTTP header for retry after
	RetryAfterHeaderName        = "{{retryAfterHeaderName}}"

    // RateLimitResetHeaderName is a common header for rate limit reset time
	RateLimitResetHeaderName    = "{{rateLimitResetHeaderName}}"

    // RateLimitResetAltHeaderName is an alternative header for rate limit reset time
	RateLimitResetAltHeaderName = "{{rateLimitResetAltHeaderName}}"
)