name: Run Tests
permissions:
  contents: read

on:
  merge_group:
  pull_request:

jobs:
  test-generator:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0

      - name: Shellcheck
        run: make shellcheck

  build-and-test-js-sdk:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0

      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0
          repository: openfga/js-sdk
          path: clients/fga-js-sdk

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1

      - name: Run SDK Tests
        run: make test-client-js
      - name: Check for SDK changes
        run: |
          cd clients/fga-js-sdk
          if $(git status | grep -q "nothing to commit"); then
            echo "CLEAN: no changes found"
            exit 0
          fi
          echo "DIRTY: changes found"
          git status
          git diff

  build-and-test-go-sdk:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0

      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0
          repository: openfga/go-sdk
          path: clients/fga-go-sdk

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1

      - name: Run SDK Tests
        run: make test-client-go

      - name: Check for SDK changes
        run: |
          cd clients/fga-go-sdk
          if $(git status | grep -q "nothing to commit"); then
            echo "CLEAN: no changes found"
            exit 0
          fi
          echo "DIRTY: changes found"
          git status
          git diff

  build-and-test-dotnet-sdk:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0

      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0
          repository: openfga/dotnet-sdk
          path: clients/fga-dotnet-sdk

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1

      - name: Run All Tests
        run: make test-client-dotnet
        env:
          OPENAPI_GENERATOR_CLI_DOCKER_TAG: v7.11.0

      - name: Check for SDK changes
        run: |
          cd clients/fga-dotnet-sdk
          if $(git status | grep -q "nothing to commit"); then
            echo "CLEAN: no changes found"
            exit 0
          fi
          echo "DIRTY: changes found"
          git status
          git diff

  build-and-test-python-sdk:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0

      - name: Specify python version
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: "3.10"

      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0
          repository: openfga/python-sdk
          path: clients/fga-python-sdk

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1

      - name: Run All Tests
        run: make test-client-python

      - name: Check for SDK changes
        run: |
          cd clients/fga-python-sdk
          if $(git status | grep -q "nothing to commit"); then
            echo "CLEAN: no changes found"
            exit 0
          fi
          echo "DIRTY: changes found"
          git status
          git diff

  build-and-test-java-sdk:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0

      - name: Set up JDK
        uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5.1.0
        with:
          java-version: 11
          distribution: "temurin"
          cache: "gradle"

      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0
          repository: openfga/java-sdk
          path: clients/fga-java-sdk

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1

      - name: Run All Tests
        run: |-
          make test-integration-client-java

      - name: Check for SDK changes
        run: |
          cd clients/fga-java-sdk
          if $(git status | grep -q "nothing to commit"); then
            echo "CLEAN: no changes found"
            exit 0
          fi
          echo "DIRTY: changes found"
          git status
          git diff
