name: Run Tests
permissions:
  contents: read

on:
  merge_group:
  pull_request:

jobs:
  test-generator:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0

      - name: Shellcheck
        run: make shellcheck

  build-and-test-js-sdk:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0

      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0
          repository: openfga/js-sdk
          path: clients/fga-js-sdk

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0

      - name: Run SDK Tests
        run: make test-client-js
      - name: Check for SDK changes
        run: |
          cd clients/fga-js-sdk
          if $(git status | grep -q "nothing to commit"); then
            echo "CLEAN: no changes found"
            exit 0
          fi
          echo "DIRTY: changes found"
          git status
          git diff

  build-and-test-go-sdk:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0

      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0
          repository: openfga/go-sdk
          path: clients/fga-go-sdk

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0

      - name: Run SDK Tests
        run: make test-client-go

      - name: Check for SDK changes
        run: |
          cd clients/fga-go-sdk
          if $(git status | grep -q "nothing to commit"); then
            echo "CLEAN: no changes found"
            exit 0
          fi
          echo "DIRTY: changes found"
          git status
          git diff

  build-and-test-dotnet-sdk:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0

      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0
          repository: openfga/dotnet-sdk
          path: clients/fga-dotnet-sdk

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0

      - name: Run All Tests
        run: make test-client-dotnet
        env:
          OPENAPI_GENERATOR_CLI_DOCKER_TAG: v7.11.0

      - name: Check for SDK changes
        run: |
          cd clients/fga-dotnet-sdk
          if $(git status | grep -q "nothing to commit"); then
            echo "CLEAN: no changes found"
            exit 0
          fi
          echo "DIRTY: changes found"
          git status
          git diff

  build-and-test-python-sdk:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0

      - name: Specify python version
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version: "3.10"

      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0
          repository: openfga/python-sdk
          path: clients/fga-python-sdk

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0

      - name: Run All Tests
        run: make test-client-python

      - name: Check for SDK changes
        run: |
          cd clients/fga-python-sdk
          if $(git status | grep -q "nothing to commit"); then
            echo "CLEAN: no changes found"
            exit 0
          fi
          echo "DIRTY: changes found"
          git status
          git diff

  build-and-test-java-sdk:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0

      - name: Set up JDK
        uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5.2.0
        with:
          java-version: 11
          distribution: "temurin"
          cache: "gradle"

      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0
          repository: openfga/java-sdk
          path: clients/fga-java-sdk

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0

      - name: Run All Tests
        run: |-
          make test-integration-client-java

      - name: Check for SDK changes
        run: |
          cd clients/fga-java-sdk
          if $(git status | grep -q "nothing to commit"); then
            echo "CLEAN: no changes found"
            exit 0
          fi
          echo "DIRTY: changes found"
          git status
          git diff
